<div class="form-row">
    <div class="col-md-3 mb-3">
        <input type="hidden" id="id_cash_flow" value="{{ c.id }}">
        <label for="validationTooltip01">Editar Fecha seleccionada:</label>
        <input type="date" class="form-control" id="id_date" placeholder="First name"
               value="{{ c.transaction_date|date:"Y-m-d" }}" required>
        <div class="valid-tooltip">
            Looks good!
        </div>
    </div>
    <div class="col-md-9 mb-3">
        <label for="validationTooltip02">Editar Descripción selecccionada:</label>
        <input type="text" class="form-control" id="id_description" placeholder="Last name"
               value="{{ c.description }}" required>
        <div class="valid-tooltip">
            Looks good!
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary"
            onclick="cashDescriptionEditBank()">Guardar cambios
    </button>
</div>
