<form class="needs-validation" id="new-transfer-form" method="POST">

    {% csrf_token %}


    <div class="mb-3">
        <label for="id-transfer-date">Fecha Movimiento</label>
        <input type="date" class="form-control"
               id="id-transfer-date"
               name="transfer-date"
               value="{{ formatdate }}"
               required>
        <div class="invalid-feedback">
            Valid date is required.
        </div>
    </div>

    <hr class="mb-4">

    <div class="row">

        <div class="col-md-4 mb-3">
            <label for="id-transfer-subsidiary-origin-name">Sucursal Origen</label>
            <input type="hidden" id="id-transfer-subsidiary-origin" name="transfer-subsidiary-origin"
                   value="{{ subsidiary_obj.id }}">
            <input type="text" class="form-control" id="id-transfer-subsidiary-origin-name"
                   name="transfer-subsidiary-origin-name"
                   placeholder=""
                   value="{{ subsidiary_obj.name }}" readonly>
            <div class="invalid-feedback">
                Valid value name is required.
            </div>
        </div>

        <div class="col-md-5 mb-3">
            <label for="id-transfer-bank-origin">Entidad Bancaria Origen</label>
            <select class="custom-select my-1 mr-sm-2"
                    id="id-transfer-bank-origin" name="transfer-bank-origin" required>
                <option value="" disabled selected>SELECCIONE...</option>
                {% for c in only_bank_set %}
                    <option value="{{ c.pk }}"
                            current-balance="{{ c.current_balance|floatformat:2|default_if_none:"0" }}"
                            account-number="{{ c.account_number|default:"-" }}">{{ c.name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Valid account name is required.
            </div>
        </div>


        <div class="col-md-3 mb-3">
            <label for="id-transfer-bank-balance">Saldo actual</label>
            <input type="text" class="form-control" id="id-transfer-bank-balance" name="transfer-bank-balance" readonly>
            <div class="invalid-feedback">
                Valid value name is required.
            </div>
        </div>

    </div>

    <hr class="mb-4">

    <div class="row">


        <div class="col-md-4 mb-3">
            <label for="id-transfer-subsidiary-destiny">Sucursal Destino</label>
            <select class="custom-select my-1 mr-sm-2"
                    id="id-transfer-subsidiary-destiny"
                    name="transfer-subsidiary-destiny" required>
                {% for s in other_subsidiary_set %}
                    <option value="{{ s.pk }}">{{ s.name }}</option>
                {% endfor %}

            </select>
            <div class="invalid-feedback">
                Valid value name is required.
            </div>
        </div>

        <div class="col-md-8 mb-3">
            <label for="id-transfer-bank-destiny">Entidad Bancaria Destino</label>

            <select class="custom-select my-1 mr-sm-2"
                    id="id-transfer-bank-destiny" name="transfer-bank-destiny" required>
                {% for c in only_other_bank_set %}
                    <option value="{{ c.pk }}" data-chained="{{ c.subsidiary.id }}"
                            current-balance="{{ c.current_balance|floatformat:2|default_if_none:"0" }}"
                            account-number="{{ c.account_number|default:"-" }}">{{ c.name }}</option>
                {% endfor %}
            </select>

            <div class="invalid-feedback">
                Valid account name is required.
            </div>
        </div>


    </div>


    <hr class="mb-4">

    <div class="row">


        <div class="col-md-6 mb-3">
            <label for="id-transfer-total">Monto</label>
            <input type="text"
                   class="form-control decimal"
                   id="id-transfer-total"
                   name="transfer-total" required>
            <div class="invalid-feedback">
                Valid value name is required.
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="id-transfer-operation-code">Cod Dep / Tranf.</label>
            <input type="text"
                   class="form-control text-uppercase"
                   id="id-transfer-operation-code"
                   maxlength="45"
                   name="transfer-operation-code">
            <div class="invalid-feedback">
                Valid value name is required.
            </div>
        </div>


    </div>

    <div class="mb-3">

        <label for="id-transfer-description">Concepto</label>
        <input type="text"
               class="form-control text-uppercase"
               id="id-transfer-description"
               maxlength="100"
               name="transfer-description" required>
        <div class="invalid-feedback">
            Valid value name is required.
        </div>
    </div>


    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit" id="btn-transfer-save">Guardar</button>
</form>
