<form class="needs-validation" id="new-account-form" action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id-account-parent-code">Categoria</label>
        <select id="id-account-parent-code" name="account-parent-code" required>
            <option value="" disabled selected>SELECCIONE...</option>
            {% for account in account_set %}
                {% if account.code|length == 3 %}
                    <option value="{{ account.code }}">{{ account.code }} - {{ account.description|upper }}</option>

                {% else %}

                    {% if account.code|length == 4 %}
                        <option value="{{ account.code }}">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ account.code }}
                            - {{ account.description|upper }}</option>
                    {% else %}

                        {% if account.code|length == 5 %}
                            <option value="{{ account.code }}">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ account.code }}
                                - {{ account.description|upper }}</option>
                        {% else %}

                            {% if account.code|length == 6 %}
                                <option value="{{ account.code }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ account.code }}
                                    - {{ account.description|upper }}</option>
                            {% endif %}

                        {% endif %}

                    {% endif %}

                {% endif %}
            {% endfor %}
        </select>
        <div class="invalid-feedback">
            Valid account name is required.
        </div>
    </div>

    <hr class="mb-4">

    <div class="row">

        <div class="col-md-6 mb-3">
            <label for="id-new-account-code">Código</label>
            <input type="text" class="form-control" id="id-new-account-code" name="new-account-code" required>
            <div class="invalid-feedback">
                Valid account code is required.
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="id-new-account-name">Nombre</label>
            <input type="text" class="form-control text-uppercase" id="id-new-account-name" name="new-account-name"
                   required>
            <div class="invalid-feedback">
                Valid value name is required.
            </div>
        </div>

    </div>


    <hr class="mb-4">
    <button id="btn-new-account" class="btn btn-primary btn-lg btn-block" type="submit">Aceptar</button>
</form>

