{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Estado de cuentas
{% endblock title %}

{% block body %}

    <div class="container-fluid">
        <div class="card-header text-left mt-2 mb-1 p-1 bg-light">
            <div class="form-inline mt-1 mb-1 p-0">
                <table>
                    <tr>
                        <td class="pl-2 pr-2 text-dark">Fecha inicial</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control" id="id_date_initial"

                                                   value="{{ date }}" required>
                        </td>
                        <td class="pl-2 pr-2 text-dark">Fecha final</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control" id="id_date_final"

                                                     value="{{ date }}" required>
                        </td>
                        <td class="pl-2 pr-2">
                            <button type="button" id="id_btn_show"
                                    class="btn btn-primary btn-block"> <i class="fas fa-search-dollar"></i> MOSTRAR
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="table-responsive" id="table-list-purchase">

        </div>
    </div>


    <div class="modal fade" id="modal-payment-purchase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel">PAGO DE LA COMPRA SELECCIONADA</h5>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="pay-purchase">
                    ...
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">

        $("#id_btn_show").click(function () {
            let _start_date = $('#id_date_initial').val();
            let _end_date = $('#id_date_final').val();

            $.ajax({
                url: '/accounting/get_purchases_by_date/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'start-date': _start_date, 'end-date': _end_date},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        $('#table-list-purchase').html(response.grid);
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    {#$('#table-list-purchase').html(jqXhr.grid);#}
                    toastr.error(jqXhr.responseJSON.detalle, '¡MENSAJE!');
                }
            });

        });


    </script>
{% endblock extrajs %}
