<div class="modal-dialog modal-dialog-centered modal-lg" role="document">

    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Registro del trabajador </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form class="was-validated" id="employee-create-form" action="{% url 'hrm:json_employee_create' %}" method="POST">
            {% csrf_token %}

            <div class="modal-body">

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Datos personales del trabajador
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">


                                <div class="form-row">
                                    <div class="col-md-8 mb-3">
                                        <label for="">{{ form.document_type.label }}</label>
                                        {{ form.document_type }}
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.document_number.label }}</label>
                                        {{ form.document_number }}

                                        {% for error in form.document_number.errors %}
                                        <div class="invalid-feedback">
                                            {{error}}
                                        </div>
                                        {% endfor %}

                                    </div>

                                    <div class="col-md-8 mb-3">
                                        <label for="">{{ form.document_issuing_country.label }}</label>
                                        {{ form.document_issuing_country }}
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.birthdate.label }}</label>
                                        {{ form.birthdate }}
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.paternal_last_name.label }}</label>
                                        {{ form.paternal_last_name }}
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.maternal_last_name.label }}</label>
                                        {{ form.maternal_last_name }}
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.names.label }}</label>
                                        {{ form.names }}
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.gender.label }}</label>
                                        {{ form.gender }}
                                    </div>

                                    <div class="col-md-8 mb-3">
                                        <label for="">{{ form.nationality.label }}</label>
                                        {{ form.nationality }}
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.telephone_national_long_distance_code.label }}</label>
                                        {{ form.telephone_national_long_distance_code }}
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.telephone_number.label }}</label>
                                        {{ form.telephone_number }}
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.email.label }}</label>
                                        {{ form.email }}
                                    </div>

                                </div><!-- form-row -->

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Datos de contacto - Dirección 1
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">


                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="">{{ form.address_1_road_type.label }}</label>
                                        {{ form.address_1_road_type }}
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.address_1_road_name.label }}</label>
                                        {{ form.address_1_road_name }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_1_road_number.label }}</label>
                                        {{ form.address_1_road_number }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_1_department.label }}</label>
                                        {{ form.address_1_department }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_1_interior.label }}</label>
                                        {{ form.address_1_interior }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_1_apple.label }}</label>
                                        {{ form.address_1_apple }}
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_1_lot.label }}</label>
                                        {{ form.address_1_lot }}
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_1_kilometer.label }}</label>
                                        {{ form.address_1_kilometer }}
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_1_block.label }}</label>
                                        {{ form.address_1_block }}
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_1_stage.label }}</label>
                                        {{ form.address_1_stage }}
                                    </div>


                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.address_1_zone_type.label }}</label>
                                        {{ form.address_1_zone_type }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="">{{ form.address_1_zone_name.label }}</label>
                                        {{ form.address_1_zone_name }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="">{{ form.address_1_reference.label }}</label>
                                        {{ form.address_1_reference }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="">{{ form.address_1_district.label }}</label>
                                        {{ form.address_1_district }}
                                    </div>

                                </div>




                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Datos de contacto - Dirección 2
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">


                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="">{{ form.address_2_road_type.label }}</label>
                                        {{ form.address_2_road_type }}
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.address_2_road_name.label }}</label>
                                        {{ form.address_2_road_name }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_2_road_number.label }}</label>
                                        {{ form.address_2_road_number }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_2_department.label }}</label>
                                        {{ form.address_2_department }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_2_interior.label }}</label>
                                        {{ form.address_2_interior }}
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_2_apple.label }}</label>
                                        {{ form.address_2_apple }}
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_2_lot.label }}</label>
                                        {{ form.address_2_lot }}
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_2_kilometer.label }}</label>
                                        {{ form.address_2_kilometer }}
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_2_block.label }}</label>
                                        {{ form.address_2_block }}
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="">{{ form.address_2_stage.label }}</label>
                                        {{ form.address_2_stage }}
                                    </div>


                                    <div class="col-md-4 mb-3">
                                        <label for="">{{ form.address_2_zone_type.label }}</label>
                                        {{ form.address_2_zone_type }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="">{{ form.address_2_zone_name.label }}</label>
                                        {{ form.address_2_zone_name }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="">{{ form.address_2_reference.label }}</label>
                                        {{ form.address_2_reference }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="">{{ form.address_2_district.label }}</label>
                                        {{ form.address_2_district }}
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div><!-- card -->

                    <div class="card">
                        <div class="card-header" id="headingfour">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Datos adicionales
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="">{{ form.essalud_assistance.label }}</label>
                                    {{ form.essalud_assistance }}
                                </div>

                                <div class="form-group">
                                    <label for="">{{ form.n_license.label }}</label>
                                    {{ form.n_license }}
                                </div>

                                <div class="form-group">
                                    <label for="">{{ form.license_type.label }}</label>
                                    {{ form.license_type }}
                                </div>

                                <div class="form-group">
                                    <label for="">{{ form.license_expiration_date.label }}</label>
                                    {{ form.license_expiration_date }}
                                </div>

                            </div>
                        </div>
                    </div><!-- card -->

                </div><!-- accordion -->





                <!-- modal-body -->
            </div>


            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button id="btn-employee-create-submit" type="submit" class="btn btn-success">Guardar</button>

            </div>

        </form>

    </div>
</div>


<script type="text/javascript">


// In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {

    optionText = 'No especifica';
    optionValue = '0';

    $('#id_document_type option[value=01]').attr('selected','selected');
    $('#id_document_issuing_country option[value=604]').attr('selected','selected');
    $('#id_nationality option[value=9589]').attr('selected','selected');
    $('#id_telephone_national_long_distance_code option[value=54]').attr('selected','selected');

    $('#id_document_type').select2({
        theme: 'bootstrap4',
    });

    $('#id_document_issuing_country').select2({
        theme: 'bootstrap4',
    });

    $('#id_nationality').select2({
        theme: 'bootstrap4',
    });

    // $('#id_address_1_road_type').append(`<option value="${optionValue}" selected>${optionText}</option>`);
    $('#id_address_1_district').select2({
        theme: 'bootstrap4',
    });

    $('#id_address_2_district').select2({
        theme: 'bootstrap4',
    });
});



    $("#employee-create-form").submit(function (event) {
        //stop submit the form, we will post it manually.
        event.preventDefault();
        // Create an FormData object
        var data = new FormData($('#employee-create-form').get(0));
        // disabled the submit button
        $("#btn-employee-create-submit").attr("disabled");
        $.ajax({
            url: "/hrm/json_employee_create/",
            type: "POST",
            data: data,
            cache: false, //If set to false, it will force requested pages not to be cached by the browser.
            processData: false, // Important!, it prevent jQuery form transforming the data into a query string
            contentType: false, //Es imperativo que establezca la opción contentType en false, forzando a jQuery a no agregar un encabezado Content-Type
            success: function (response, textStatus, xhr) {
                //Recibe un json serializado
                console.log(textStatus);

                if(xhr.status==200){

                    var parse = JSON.parse(response);
                    employee_name = parse['employee'].names;
                    console.log("employee_name: " + employee_name);
                    // $('#alert-status').removeAttr("class").addClass("alert alert-success").text("Guardado con exito.").show(1000).delay(3200).hide(300);
                    toastr.success('Guardado con exito.','¡Bien hecho!');


                    $.ajax({
                        url: '{% url 'hrm:json_employee_list' %}',
                        async: true,
                        dataType: 'json',
                        type: 'GET',
                        // data: {'search': search},
                        success: function (response) {
                            $("#employee-grid-list").html(response.result);
                            refreshTable();
                        },
                        fail: function (response) {
                            toastr.error ("Error. ", '¡Inconcebible!');
                        }
                    });

                }

                $("#btn-employee-create-submit").removeAttr("disabled");
                $('#creation').modal('hide');
            },
            error : function(jqXhr, textStatus, xhr) { // provide a bit more info about the error to the console

                if(jqXhr.status==500){

                    error = jqXhr.responseJSON.error;

                    if (typeof jqXhr.responseJSON.form_invalid.name !== undefined || jqXhr.responseJSON.form_invalid.name !== null) {
                        toastr.error (jqXhr.responseJSON.form_invalid.name, '¡Inconcebible!');
                    }
                }
                else{
                    console.log(" STATUS: " + xhr + " " + textStatus);
                }

                $("#btn-employee-create-submit").removeAttr("disabled");
                $('#creation').modal('hide');
            }
        });//end ajax
    }); //end submit

</script>
