<div class="modal-dialog modal-dialog-centered modal-lg" role="document">

    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Actualizar usuario del trabajador [{{ worker.employee.document_number }}]</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="worker-user-form" action="" method="POST" class="was-validated">
            {% csrf_token %}
            <input type="hidden" id="id_worker" name="worker" value="{{ worker.id }}">

            <div class="modal-body">


                <table class="table">

                    <tr>
                        <td>Usuario:{{ worker.user.username }}</td>
                        <td>
                            <input type="text" class="form-control" id="id_username"
                                   name="username" value="{{ worker.user.username }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Clave:</td>
                        <td>
                            <input type="text" class="form-control" minlength="6"
                                   id="id_key" name="key">
                        </td>
                    </tr>
                    <tr>
                        <td>Acceso al panel:</td>
                        <td>
                            <input type="checkbox" class="form-check-input" id="id_is_staff" name="is_staff"
                                   {% if worker.user.is_staff %}checked{% endif %} value="True">
                        </td>
                    </tr>
                </table>


            </div><!-- modal-body -->


            <div class="modal-footer">&nbsp;
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button id="btn-worker-user-submit" type="submit" class="btn btn-primary">Guardar</button>


            </div>

        </form>

    </div>
</div>

<script type="text/javascript">

    $('#worker-user-form').submit(function (event) {
        event.preventDefault();

        var data = new FormData($('#worker-user-form').get(0));

        $("#btn-worker-user-submit").attr("disabled");

        $.ajax({
            url: "/hrm/update_worker_user/",
            type: "POST",
            data: data,
            cache: false, //If set to false, it will force requested pages not to be cached by the browser.
            processData: false, // Important!, it prevent jQuery form transforming the data into a query string
            contentType: false, //Es imperativo que establezca la opción contentType en false, forzando a jQuery a no agregar un encabezado Content-Type
            success: function (response, textStatus, xhr) {
                //Recibe un json serializado
                console.log(response);

                if (xhr.status == 200) {
                    toastr.success('Guardado con exito.', '¡Bien hecho!');

                    $.ajax({
                        url: '{% url 'hrm:json_employee_list' %}',
                        async: true,
                        dataType: 'json',
                        type: 'GET',
                        // data: {'search': search},
                        success: function (response) {
                            $("#employee-grid-list").html(response.result);
                            refreshTable();
                        },
                        fail: function (response) {
                            toastr.error("Error. ", '¡Inconcebible!');
                        }
                    });

                }

            },
            error: function (jqXhr, textStatus, xhr) { // provide a bit more info about the error to the console
                console.log(jqXhr);
                if (jqXhr.status == 500) {
                    toastr.error(jqXhr.responseJSON.error, '¡Inconcebible!');
                } else {
                    console.log(" STATUS: " + xhr + " " + textStatus);
                }

            }
        });//end ajax
        $("#btn-worker-user-submit").removeAttr("disabled");
        $('#get-worker-user').modal('hide');
    });
</script>
