{% if purchases %}
    <div class="card border-info m-3 roboto-condensed-regular">
        <div class="card-header bg-info">
            <form>
                <div class="form-group row mt-3">
                    <h4 class="card-title text-center text-white col-sm-10 roboto-condensed-regular font-weight-bold">LISTA DE COMPRAS REALIZADAS</h4>
                    <button type="button"
                            class="col-sm-1 btn btn-sm btn-outline-secondary font-weight-bold border-0 text-dark btn-block p-1"
                            id="btn-type-change">Tipo de Cambio:
                    </button>
                    <div class="col-sm-1">
                        <input type="text" class="form-control text-center font-weight-bold"
                               id="type_change" readonly>
                        <input type="hidden" class="form-control text-center font-weight-bold"
                               id="type_change_value" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card-body roboto-condensed-regular">
        <div class="table-responsive dataTables_wrapper ">
            <table id="puchase-data-grid"
                   class="table table-primary table-striped align-content-center table-bordered response"
                   cellspacing="0" width="100%">
                <thead>
                <tr class="text-center bg-info text-white" style="height: 20px">
                    <th>#</th>
                    <th class="th-sm">Proveedor</th>
                    <th class="th-sm">Numero comprobante</th>
                    <th class="th-sm">Fecha compra</th>
                    <th class="th-sm">Total</th>
                    <th class="th-sm">Usuario</th>
                    <th class="th-sm">Estado</th>
                    <th class="th-sm">Accion</th>
                </tr>
                </thead>
                <tbody>

                {% for p in purchases %}
                    <tr class="text-center ">
                        <td>{{ p.id }}</td>
                        <td>{{ p.supplier.name|upper }}</td>
                        <td>{{ p.bill_number|upper }}</td>
                        <td>{{ p.purchase_date|date:'d-m-Y' }}</td>
                        <td>{% if p.check_dollar %}${% else %}S/{% endif %}{{ p.total_purchase|safe }}</td>
                        <td>{{ p.user.worker_set.last.employee.names|upper }}</td>
                        <td class="{% if p.status == 'S' %}  text-danger {% else %} text-success
                            {% endif %} bg-white">{{ p.get_status_display }}</td>
                        <td class="p-1">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success  dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu bg-secondary text-white font-italic">
                                    <a class="dropdown-item assignment-store" pk="{{ p.id }}"><i
                                            class="fas fa-file-upload"></i> Asignar almacen </a>
                                    <a class="dropdown-item btn-update" pk="{{ p.id }}"><i
                                            class="fas fa-edit pr-1"></i> Editar </a>
                                    <a class="dropdown-item btn-annular" pk="{{ p.id }}"><i
                                            class="fas fa-ban"></i> Anular </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr class="text-center bg-info text-white" style="height: 20px">
                    <th>#</th>
                    <th class="th-sm">Proveedor</th>
                    <th class="th-sm">Numero comprobante</th>
                    <th class="th-sm">Fecha compra</th>
                    <th class="th-sm">Total</th>
                    <th class="th-sm">Usuario</th>
                    <th class="th-sm">Estado</th>
                    <th class="th-sm">Accion</th>
                </tr>
                </tfoot>
            </table>

        </div>

    </div>

    <!-- Card -->
    </div>


{% else %}
    <h1>No existen compras registradas</h1>
{% endif %}