{% extends 'home.html' %}

{% block title %}
coronasoft.dev | Listado de compras anuladas
{% endblock title %}

{% block body %}

<!-- Content -->
<div class="container-fluid">

    <div id="purchase-grid-list" >{% include "buys/purchase_annular_grid_list.html" %}</div>

</div>

<div class="modal fade" id="assignment-annular" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>


{% endblock body %}

{% block extrajs %}

<script type="text/javascript">

    {#$('#puchase-data-grid').dataTable();#}
    $('#purchase-annular-data-grid').DataTable({
        "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
    });

</script>
{% endblock extrajs %}
