{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Lista Programaciones
{% endblock title %}

{% block body %}

    <!-- Content -->
    <div class="container-fluid">
        <div class="card-header text-left mt-2 mb-1 p-1">
            <div class="form-inline mt-0 mb-0 p-0">
                <table>
                    <tr>
                        <td class="pl-2 pr-2">Placa</td>
                        <td class="pl-2 pr-2">
                            <select class="form-control" id="id_truck">
                                <option value="0">Seleccione</option>
                                {% for t in trucks %}
                                    <option value="{{ t.id }}">{{ t.license_plate }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="pl-2 pr-2">Fecha inicial</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control" id="id_date_initial"

                                                     value="{{ date }}" required>
                        </td>
                        <td class="pl-2 pr-2">Fecha final</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control" id="id_date_final"

                                                     value="{{ date }}" required>
                        </td>
                        <td class="pl-2 pr-2">
{#                            <button type="button" id="id_btn_show"#}
{#                                    class="btn btn-success btn-block pb-1"> Mostrar lista programaciones#}
{#                            </button>#}
                             <button type="button" id="id_btn_show" class="button text-white"><i
{#                            class="fas fa-database"></i> <span>  Mostrar programaciones</span></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="table-responsive" id="table-programmings"></div>
    </div>
    <style>
      .button {
      border-radius: 4px;
      background-color: #c6470c;
      border: none;
      text-align: center;
      font-size: 14px;
      padding: 8px;
      width: 240px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 0px;
    }

    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -30px;
      transition: 0.5s;
    }

    .button:hover span {
      padding-right: 20px;
    }

    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
</style>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        $('#id_truck').select2({
            theme: 'bootstrap4',
        });
        $('#id_btn_show').click(function () {
            if ($('#id_truck').val() > 0) {
                let Valor = {
                    "id_truck": $('#id_truck').val(),
                    "date_initial": $('#id_date_initial').val(),
                    "date_final": $('#id_date_final').val(),
                };
                $.ajax({
                    url: '/buys/get_programming_by_truck_and_dates/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {'datos': JSON.stringify(Valor)},
                    success: function (response) {
                        $('#table-programmings').html(response['grid']);
                    },
                });
            } else {
                alert("Seleccione una placa por favor!")
            }
        });
    </script>
{% endblock extrajs %}
