<table class="table  table-striped align-content-center table-bordered response">
    <thead class="text-white" style="background-color: rgb(105,105,105);">
    <tr>
        <th class="text-center">Nuemero</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Placa</th>
        <th class="text-center">Numero scop</th>
        <th class="text-center">Guia</th>
        <th class="text-center">Cantidad</th>
        <th class="text-center">Detalle gastos</th>
        {#             <th class="text-center">Gastos Subtotal</th>#}
    </tr>
    </thead>
    <tbody>
    {% for p in programmings %}
        <tr>
            <td class="item text-center align-middle"></td>
            <td class="text-center  align-middle">{{ p.programminginvoice_set.first.date_arrive }}</td>
            <td class="text-center  align-middle">{{ p.truck.license_plate }}</td>
            <td class="text-center  align-middle">{{ p.number_scop }}</td>
            <td class="text-center  align-middle">{{ p.programminginvoice_set.first.guide }}
            </td>
            <td class="decimal text-right  align-middle">{{ p.programminginvoice_set.last.calculate_total_programming_quantity|floatformat:2 }}
                {#                 {% for i in p.programminginvoice_set.all %}#}
                {#                    {{ i.quantity }} <br>#}
                {#                 {% endfor %}#}
            </td>
            {#             <td class="text-center">{{ p.programminginvoice_set.first.subsidiary_store.subsidiary.name }}</td>#}
            <td class="text-right  align-middle">
                {% for i in p.programmingexpense_set.all %}
                    {{ i.get_type_display }} S/. {{ i.price|floatformat:2 }} <br>
                {% endfor %}
                <div class="dropdown-divider m-1 border-danger"></div>
                <strong>Total: S/. {{ p.calculate_total_programming_expenses_price|floatformat:2 }}</strong>
            </td>
            {#             <td class="text-center  align-middle">#}
            {#                 {{ p.calculate_total_programming_expenses_price|floatformat:2 }}#}
            {#             </td>#}
        </tr>
    {% endfor %}
    <tr class="text-white" style="background-color: rgb(105,105,105);">
        <td class="text-center" colspan="4"><strong>Numero total de viajes realizados
            = </strong>{{ programmings.all.count }}</td>

        <td colspan="2" class="text-center decimal"><strong>Cantidad total transportada
            = </strong>{% if total_quantity %}{{ total_quantity|floatformat:2 }} {% else %} 0.00 {% endif %} </td>
        <td colspan="1" class="text-center decimal"><strong>Total gasto = S/. </strong> {% if total_price %}
            {{ total_price|floatformat:2 }} {% else %} 0.00 {% endif %}</td>
    </tr>
    </tbody>
</table>

<script>
    $index = 1;
    $('table tr td.item').each(function () {
        $(this).text($index);
        $index++;
    });
    $('table tr td.decimal').each(function () {
        let _str = $(this).text();
        _str = _str.replace(',', '.');
        $(this).text(_str);
    });
</script>