{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | lista de Ordenes
{% endblock title %}

{% block body %}
    <div class="row mr-3 ml-0 mt-2">
        <div class="col-sm-12 p-0">
            <div class="card">
                <div class="card-body text-center font-weight-bolder pb-1">
                    <h2>LISTADO DE ORDENES</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card-header text-left mt-2 mb-1 p-1">
            <div class="form-inline mt-0 mb-0 p-0">

                <label class="my-1 mr-2" for="id-start-date">Fecha Inicial</label>
                <input type="date" class="form-control my-1 mr-sm-2"
                       id="id-start-date"
                       name="start-date"
                       value="{{ formatdate }}">

                <label class="my-1 mr-2" for="id-end-date">Fecha final</label>
                <input type="date" class="form-control my-1 mr-sm-2"
                       id="id-end-date"
                       name="end-date"
                       value="{{ formatdate }}">

                <label class="mr-2 ml-2">Cliente</label>
                <select class="form-control" id="id_client">
                    <option value="0">Seleccione</option>
                    {% for client in clients %}
                        <option value="{{ client.id }}">RUC: {{ client.clienttype_set.last.document_number }} / NOMBRE: {{ client.names|upper }}</option>
                    {% endfor %}
                </select>

                <button type="button" class="btn btn-blue my-1 ml-2" id="btn-search">
                    <i class="fas fa-search-dollar"></i> Buscar
                </button>
            </div>
        </div>
        <div class="table-responsive" id="table-order"></div>
    </div>


    <div class="modal fade" id="modal-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel1">PAGAR DEUDA</h5>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="lending">
                    ...
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    {#    MODAL DE PAGOS#}
    <div class="modal fade" id="modal-expense" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel2">REGISTRAR GASTO</h5>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="expense">
                    ...
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    {##}
    {#    <div class="text-center">#}
    {#        <div class="spinner-border spin" role="status">#}
    {#            <span class="sr-only">Loading...</span>#}
    {#        </div>#}
    {#    </div>#}


{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">

        $('#id_client').select2({
            theme: 'bootstrap4',
         });

        loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p>Cargando...</p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

        $('#id_client').change(function () {
            /*let _search = $(this).val();

            $('#table-order').empty();
            $('#table-order').html(loader);
            $.ajax({
                url: '/sales/get_orders_by_client/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'client_id': _search},
                success: function (response) {
                    $('#table-order').html(response['grid']);
                    array_glp_indexes = [];
                    $('#massive-payment span.badge').text((0).toFixed(2));
                    $('#massive-return span.badge').text((0).toFixed(2));


                },
            });*/
        });

        $('#btn-search').click(function () {

            let _client_id = $('#id_client').val();
            let _start_date = $('#id-start-date').val();
            let _end_date = $('#id-end-date').val();
            $('#table-order').empty();
            $('#table-order').html(loader);

            $.ajax({
                url: '/sales/get_orders_by_client/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {
                    'client_id': _client_id,
                    'start_date': _start_date,
                    'end_date': _end_date,
                },
                success: function (response) {
                    $('#table-order').html(response['grid']);
                },
            });
        });

    </script>
{% endblock extrajs %}

