
<div class="form-group">
    <label for="cl_names">Nombres</label>
    <input type="text" class="form-control" name="cl_names" id="cl_names">
</div>

<input type="hidden" id="cl_client_id" name="cl_client_id" value="0">

<div class="form-group">
    <label for="id_associate">Asociar a sede</label>
    <select id="id_associate" name="associates[]" class="form-control" multiple="multiple">
        <option value="0">SELECCIONAR</option>
        {% for subsidiary in subsidiaries %}
            <option value="{{ subsidiary.id }}">{{ subsidiary.name }}</option>
        {% endfor %}
    </select>

</div>