<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-sm">
            <thead class="table-light text-uppercase small text-center">
            <tr>
                <th scope="col" class="border-right border-top border-bottom-0 border-left">#</th>
                <th scope="col" class="border-right border-top border-bottom-0">Producto</th>
                <th scope="col" class="border-right border-top border-bottom-0">Cantidad</th>
                <th scope="col" class="border-right border-top border-bottom-0">Unidad</th>
                <th scope="col" class="border-right border-top border-bottom-0">Precio</th>
                <th scope="col" class="border-right border-top border-bottom-0">Total</th>
                <th scope="col" class="border-right border-top border-bottom-0">Eliminar</th>
            </tr>
            </thead>
            <tbody id="sales-details">

            </tbody>
        </table>
    </div>
</div><!-- card table-->


<div class="card">
    <div class="card-body">
        <div class="card-group">

            <div class="card col-sm-6 p-0 border-0">
                <div class="card-body">
                    <div class="btn-group btn-group-sm border border-primary" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary quote btn-sm small">COTIZACION</button>
                        <button type="button" class="btn btn-secondary invoice btn-sm small">FACTURA</button>
                        <button type="button" class="btn btn-secondary receipt btn-sm small">BOLETA</button>
                    </div>
                    <input type="checkbox" id="demo" name="demo" value="0">
                </div>
            </div>

            <div class="card col-sm-6 p-0 border-0">
                <div class="card-body small">
                    <label for="sum-total">TOTAL : S/</label>
                    <input type="text" class="form-control form-control-sm sum-total" id="sum-total" name="sum-total"
                           placeholder="">
                </div>
            </div>

        </div><!-- card group-->
    </div>
</div><!-- card table-->
