<form id="ball-change-form" action="" method="POST">
    {% csrf_token %}

    <input type="hidden" id="id_detail" name="detail" value="{{ detail.id }}">
    <input type="hidden" id="id_price_unit" name="price_unit" value="{{ detail.price_unit }}">


    <table class="table table-sm">

        {% if detail.unit.name == 'G' %}
            <thead>
            <tr class="text-uppercase font-weight-lighter">
                <th class="border-bottom-0 border-right border-left align-middle" style="width: 15%">Cant. canjeada</th>
                <th class="border-bottom-0 border-right align-middle" style="width: 15%">Cant. a cambiar</th>
                <th class="border-bottom-0 border-right align-middle" style="width: 30%">Estado</th>
                <th class="border-bottom-0 border-right align-middle" style="width: 40%">Observacion</th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <td class="border-top-1 border-bottom border-right border-left align-middle text-danger quantity-sold">
                    {{ detail.quantity_sold|floatformat:2 }}
                </td>
                <td class="border-top-1 border-bottom border-right align-middle">
                    <input type="text"
                           id="id_quantity"
                           name="quantity"
                           autocomplete="off"
                           class="form-control form-control-sm">
                </td>

                <td class="border-top-1 border-bottom border-right align-middle">
                    <select id="id_status"
                            name="status"
                            class="form-control form-control-sm">
                        {% for item in choices_status %}
                            {% if item.0 == '4' %}
                                <option selected value="{{ item.0 }}">{{ item.1 }}</option>
                            {% else %}
                                <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>

                <td class="border-top-1 border-bottom border-right align-middle">
                    <textarea class="form-control form-control-sm"
                              name="observation"
                              id="id_observation"></textarea>

                </td>
            </tr>
            </tbody>
        {% endif %}
        <tfoot>
        <tr class="border-0">
            <td colspan="4" class="border-0 pr-0 text-right">
                <button type="submit" id="btn-save" class="btn btn-primary"> Guardar</button>
            </td>
        </tr>
    </tfoot>
    </table>

{% if detail.ballchange_set.count > 0 %}
    <table class="table table-sm table-striped">
        <thead>
            <tr class="text-uppercase font-weight-lighter">
                <th class="border-bottom-0 border-right border-left align-middle" style="width: 15%">ID</th>
                <th class="border-bottom-0 border-right align-middle" style="width: 15%">Fecha</th>
                <th class="border-bottom-0 border-right align-middle" style="width: 15%">Cant. cambiada</th>
                <th class="border-bottom-0 border-right align-middle" style="width: 30%">Estado</th>
                <th class="border-bottom-0 border-right align-middle" style="width: 40%">Observacion</th>
            </tr>
            </thead>
            <tbody>
            {% for bc in detail.ballchange_set.all %}
                <tr>
                    <td class="border-top-1 border-bottom border-right border-left align-middle text-dark">
                        {{ bc.id }}
                    </td>
                    <td class="border-top-1 border-bottom border-right border-left-0 align-middle text-dark">
                        {{ bc.create_at|date:"Y-m-d" }}
                    </td>
                    <td class="border-top-1 border-bottom border-right border-left-0 align-middle text-dark">
                        {{ bc.quantity }}
                    </td>
                    <td class="border-top-1 border-bottom border-right border-left-0 align-middle text-dark">
                        {{ bc.get_status_display }}
                    </td>
                    <td class="border-top-1 border-bottom border-right border-left-0 align-middle text-dark">
                        {{ bc.observation }}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
    </table>
{% endif %}

</form>

<script type="text/javascript">


    $('#id_quantity').keyup(function () {
        let val = $(this).val();
        if (isNaN(val) || val === '') {
            $(this).val('');
        }
    });


    $('#ball-change-form').submit(function (event) {
        event.preventDefault();
        let data = new FormData($('#ball-change-form').get(0));

        let _return = parseFloat($('td.quantity-sold').text());
        let _value = parseFloat($('#id_quantity').val());
        if (_value > _return) {
            toastr.warning('valor por encima de lo canjeado', 'Inconcebible')
            return false;
        }

        $('#btn-save').attr("disabled", "true");

        $.ajax({
            url: '/sales/new_ball_change/',
            type: "POST",
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (response, textStatus, xhr) {
                if (xhr.status == 200) {
                    // $('#product-detail-grid').html(response.grid);
                    $('#modal-payment').modal('hide');
                    $('#table-order').html(response['grid']);
                    toastr.success(response['message'], '¡Bien hecho!');
                }
            },
            error: function (jqXhr, textStatus, xhr) {
                if (jqXhr.status == 500) {
                    toastr.error(jqXhr.responseJSON.error, '¡Inconcebible!');
                }
            }
        });
        $('#btn-save').removeAttr("disabled", "false");

    });

</script>

