<form id="expense-form" action="" method="POST">
    {% csrf_token %}

    <input type="hidden" id="id_order" name="id_order">
    <input type="hidden" id="pay-loan" name="pay-loan" class="pay-loan"
           value="{{ detail.order.total_remaining_repay_loan|floatformat:2 }}">

    <table class="table table-sm" id="table-datos">
        <thead>
        <tr class="text-uppercase font-weight-lighter">
            <th class="border-bottom-0 border-right align-middle">Nombre Caja destino</th>
            <th class="border-bottom-0 border-right align-middle">Responsable</th>
            <th class="border-bottom-0 border-right align-middle">Placa</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="border-top-0 border-bottom border-right align-middle" for="customCheck1">
                <select id="id_cash" name="id_cash"
                        class="form-control form-control-sm text-uppercase"
                        aria-selected="Text input with radio button">
                    {% for c in choices_account %}
                        <option value="{{ c.id }}"
                        >{{ c.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="border-top-0 border-bottom border-right align-middle">
                <input type="text"
                       id="id_driver"
                       name="id_driver"
                       autocomplete="off"
                       class="form-control form-control-sm text-uppercase" readonly>
            </td>
            <td class="border-top-0 border-bottom border-right align-middle">
                <input type="text"
                       id="id_plate"
                       name="id_plate"
                       autocomplete="off"
                       class="form-control form-control-sm text-uppercase" readonly>
            </td>
        </tr>
        </tbody>
    </table>


    <table class="table table-sm">

        <thead>
        <tr class="text-uppercase font-weight-lighter">
            <th class="border-bottom-0 border-right align-middle">Fecha</th>
            <th class="border-bottom-0 border-right align-middle">Tipo Documento</th>
            <th class="border-bottom-0 text-center align-middle code">Serie</th>
            <th class="border-bottom-0 align-middle "></th>
            <th class="border-bottom-0 text-center border-right align-middle voucher">Nro</th>
            <th class="border-bottom-0 border-right align-middle">Descripción del Gasto</th>
            <th class="border-bottom-0 border-right align-middle voucher">Sub-total</th>
            <th class="border-bottom-0 border-right align-middle voucher">IGV 18%</th>
            <th class="border-bottom-0 border-right align-middle">Monto</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="border-top-0 border-bottom border-right align-middle text-left text-danger pay-loan"
                style="width: 10%">
                <input type="date"
                       id="id_date"
                       name="id_date"
                       value="{{ date }}"
                       class="form-control form-control-sm">
            </td>

            <td class="border-top-0 border-bottom border-right align-middle" style="width: 12%">
                <select id="id_transaction_document_type"
                        name="id_transaction_document_type"
                        class="form-control form-control-sm text-uppercase">
                    <option value="0">Seleccione</option>
                    {% for item in choices_document %}
                        <option value="{{ item.0 }}">{{ item.1 }}</option>
                    {% endfor %}
                </select>
            </td>

            <td class="border-top-0 border-bottom align-middle" style="width: 5%">
                <input type="text"
                       id="id_serie"
                       name="id_serie"
                       autocomplete="off"
                       class="form-control form-control-sm text-uppercase">
            </td>
            <td class="border-top-0 border-bottom align-middle" style="width: 1%">
                <label>-</label>
            </td>
            <td class="border-top-0 border-bottom border-right align-middle" style="width: 5%">
                <input type="text"
                       id="id_nro"
                       name="id_nro"
                       autocomplete="off"
                       class="form-control form-control-sm">
            </td>
            <td class="border-top-0 border-bottom border-right align-middle" style="width: 40%">
                <input type="text"
                       id="id_description"
                       name="id_description"
                       autocomplete="off"
                       class="form-control form-control-sm text-uppercase">
            </td>
            <td class="border-top-0 border-bottom border-right align-middle" style="width: 8%">
                <input type="text"
                       id="id_subtotal"
                       name="id_subtotal"
                       autocomplete="off"
                       value="0.00"
                       class="form-control form-control-sm text-uppercase text-right" readonly>
            </td>

            <td class="border-top-0 border-bottom border-right align-middle" style="width: 8%">
                <input type="text"
                       id="igv"
                       name="igv"
                       autocomplete="off"
                       value="0.00"
                       class="form-control form-control-sm text-right" readonly>
            </td>
            <td class="border-top-0 border-bottom border-right align-middle" style="width: 10%">
                <input type="text"
                       id="id_amount"
                       name="id_amount"
                       autocomplete="off"
                       class="form-control form-control-sm text-right">
            </td>

        </tr>
        </tbody>
    </table>

    <tr class="border-0">
        <button type="submit" id="btn-save" class="btn btn-primary"> Guardar</button>
        </td>
    </tr>

</form>

<script type="text/javascript">

    $('#id_transaction_document_type').change(function () {

        $("#id_amount").val('');
        $("#id_subtotal").val('0.00');
        $("#igv").val('0.00');
    });

    $('#id_amount').keyup(function () {

        let sub_total;
        let igv;
        let total = $(this).val();
        let type = $('#id_transaction_document_type').val()
        if (type === 'F' || type === 'B') {
            sub_total = total / 1.18;
            igv = total - sub_total
            $("#id_subtotal").val(sub_total.toFixed(2));
            $("#igv").val(igv.toFixed(2));
        }
    });

    $('#expense-form').submit(function (event) {
        event.preventDefault();
        let data = new FormData($('#expense-form').get(0));

        let _id_date = $('#id_date').val();
        let _id_transaction_document_type = $('#id_transaction_document_type').val();
        let _id_description = $('#id_description').val();
        let _id_amount = $('#id_amount').val();
        let _pay = parseFloat($('#pay-loan').val());
        let _value = parseFloat($('#id_amount').val());

        /*if (_value > _pay) {
            toastr.warning('¡Valor por encima de la deuda!', 'Erro de Datos')
            return false;
        }*/
        if (_id_date.length === 0) {
            toastr.warning('¡Favor seleccionar una fecha!', 'Error de Datos');
            return false;
        }
        if (_id_transaction_document_type.length === 0) {
            toastr.warning('¡Favor seleccionar tipo de documento!', 'Error de Datos');
            return false;
        }
        if (_id_description.length === 0) {
            toastr.warning('¡Favor llenar la descripcion del gasto!', 'Error de Datos');
            return false;
        }
        if (_id_amount.length === 0) {
            toastr.warning('¡Favor de ingresar un monto valido!', 'Error de Datos');
            return false;
        }

        $('#btn-save').attr("disabled", "true");

        $.ajax({
            url: '/sales/new_expense/',
            type: "POST",
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (response, textStatus, xhr) {
                if (xhr.status == 200) {
                    // $('#product-detail-grid').html(response.grid);
                    $('#modal-expense').modal('hide');
                    $('#table-order').html(response['grid']);
                    toastr.success(response['message'], '¡Bien hecho!');
                }
            },
            error: function (jqXhr, textStatus, xhr) {
                if (jqXhr.status == 500) {
                    toastr.error(jqXhr.responseJSON.error, '¡Error!');
                }
            }
        });
        $('#btn-save').removeAttr("disabled", "false");

    });

    function number_test(n) {
        let result = (n - Math.floor(n)) !== 0;
        return result;
    }
</script>

