{% extends 'home.html' %}

{% block title %}
    Orden | Ventas
{% endblock title %}

{% block body %}
    <!-- Content -->



    <div class="container-fluid">


        <form class="form-inline" id="search-form" method="POST">
            {% csrf_token %}

            <label class="my-1 mr-2" for="id-start-date">Fecha Inicial</label>
            <input type="date" class="form-control my-1 mr-sm-2" id="id-start-date" name="start-date"
                   value="{{ formatdate }}">

            <label class="my-1 mr-2" for="id-end-date">Fecha final</label>
            <input type="date" class="form-control my-1 mr-sm-2" id="id-end-date" name="end-date"
                   value="{{ formatdate }}">

            <button type="submit" class="btn btn-primary my-1 mr-2" id="btn-search">
                <i class="fas fa-search-dollar"></i> Buscar
            </button>

{#            <button type="button" class="btn btn-primary my-1 mr-2" id="btn-switch">Format Print</button>#}
{#            <button type="button" class="btn btn-primary my-1 mr-2" id="btn-pdf">PDF</button>#}
{#            <a href="{% url 'sales:print_orders_sales' f1 f2 %}" class="btn btn-blue">#}
{#                <i class="fas fa-file-pdf"></i> Reporte PDF#}
{#            </a>#}

            {#            <div class="form-check form-check-inline">#}
            {#                <input class="form-check-input" type="checkbox" name="by-units" id="id-by-units"#}
            {#                       value="UNIT">#}
            {#                <label class="form-check-label" for="id-by-units"> Por Unidades </label>#}
            {#            </div>#}
            <div class="col-sm-2 mt-3 mr-2 montserrat">
                <div class="alert text-center text-uppercase" role="alert" style="background-color: #a3f396 !important;">
                    Pagos con depósito
                </div>
            </div>

            <div class="col-sm-2 mt-3 mr-2 montserrat">
                <div class="alert text-center text-uppercase" role="alert" style="background-color: #b1d2e9 !important;">
                    Pagos Crédito
                </div>
            </div>

        </form>
        <div class="mr-3 ml-0" style="
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        background: #e9ecef;
        opacity: 0.5;
        width: 100%;
        height: 46em;
        padding-top: 21em;" id="loading-666">
        </div>
        <div id="sales-grid-list"></div>

    </div>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p>Cargando...</p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

        $('#search-form').submit(function (event) {
            event.preventDefault();
            let data = new FormData($('#search-form').get(0));

            $('#btn-search').attr("disabled", "true");
            $('#sales-grid-list').empty();
            $('#loading-666').html(loader).show();

            $.ajax({
                url: '/sales/get_sales_by_subsidiary_store/',
                type: "POST",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        toastr.success(response['message'], '¡Bien hecho!');
                        $('#sales-grid-list').html(response.grid);
                        $('#loading-666').hide();
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Inconcebible!');
                        $('#loading-666').hide();
                    }
                }
            });
            $('#btn-search').removeAttr("disabled", "false");

        });

        $(document).on('click', '.btn-cancel', function () {

            let $row = $(this).parent('td').parent('tr');
            let $o_id = $row.attr('pk');
            $('#table-dictionary tr[pk="' + $o_id + '"]').addClass('bg-warning');

            setTimeout(() => {
                let r = confirm("¿ESTA SEGURO DE ANULAR LA ORDEN DE VENTA SELECCIONADO?");
                if (r === true) {
                    let pk = $(this).attr("pk")
                    $.ajax({
                        url: '/sales/cancel_order/',
                        async: true,
                        dataType: 'json', // for response
                        type: 'GET',
                        data: {
                            'pk': pk,
                            'start-date': $('#id-start-date').val(),
                            'end-date': $('#id-end-date').val()
                        },
                        contentType: 'application/json;charset=UTF-8',
                        headers: {"X-CSRFToken": '{{ csrf_token }}'},
                        success: function (response, textStatus, xhr) {
                            console.log("sss")
                            if (xhr.status === 200) {
                                toastr.success(response.message, '¡ORDEN ACTUALIZADA CORRECTAMENTE!');
                                $('#sales-grid-list').html(response.grid);
                                {#$('#table-dictionary tr[pk="' + $o_id + '"]').remove();#}
                            }
                        },
                        fail: function (response) {
                            console.log("error")
                            toastr.error(jqXhr.responseJSON.error, '¡Inconcebible!');
                        }
                    });
                } else {
                    $('#table-comodity tr[pk="' + $o_id + '"]').removeClass('bg-warning');

                }
            }, 50);
        });

        $('#btn-switch').click(function () {
            $('.hide-column').remove()
            $('#table-dictionary').bootstrapTable('refresh');
            // $('.hide-column').css('width', '4%')

        });


    </script>
{% endblock extrajs %}
