{% extends 'home.html' %}

{% block title %}
    Productos por almacen
{% endblock title %}

{% block body %}
    <div class="container-fluid roboto-condensed-regular">

        <a class="btn btn-outline-info mb-3 mt-3" href="" data-toggle="modal"
           data-target="#modal-subsidiary-store">
            <i class="fas fa-user-plus"></i> &nbsp;NUEVO ALMACEN
        </a>


        <div id="ss-grid-list">{% include "sales/product_by_subsidiary_grid_list.html" %}</div>


    </div>

    <div class="modal" id="modal-subsidiary-store" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="new-subsidiary-store-form" action="{% url 'sales:new_subsidiary_store' %}" method="POST">

                    {% csrf_token %}
                    <div class="modal-body">
                        <table class="table table-borderless">
                            <tr><td>nombre:</td><td>{{ form.name }}</td></tr>
                            <tr><td>categoria:</td><td>{{ form.category }}</td></tr>
                        </table>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" id="btn-save" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">

        $('#ss-data-grid').dataTable({
              paging: false,
            "language": {
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":    "Último",
                    "sNext":    "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });

        $("#new-subsidiary-store-form").submit(function (event) {

            event.preventDefault();

            var data = new FormData($('#new-subsidiary-store-form').get(0));


            $("#btn-save").attr("disabled");

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (response.success) {
                        toastr.success(response.message, '¡Bien hecho!');
                        location.reload();
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error(jqXhr.responseJSON.error, '¡Ocurrio un error!');
                }

            });//end ajax
            $("#btn-save").removeAttr("disabled");
            $('#modal-subsidiary-store').modal('hide');

        }); //end submit

        // Manejar el cambio de estado del checkbox de habilitado
        $(document).on('change', '.product-enabled-checkbox', function() {
            var productId = $(this).data('product-id');
            var isEnabled = $(this).is(':checked');
            var checkbox = $(this);

            $.ajax({
                url: '{% url "sales:toggle_product_enabled" %}',
                type: 'POST',
                data: {
                    'product_id': productId,
                    'is_enabled': isEnabled,
                    'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val()
                },
                success: function(response) {
                    if (response.success) {
                        toastr.success(response.message, '¡Bien hecho!');
                    } else {
                        toastr.error(response.error, '¡Ocurrió un error!');
                        // Revertir el checkbox si hay error
                        checkbox.prop('checked', !isEnabled);
                    }
                },
                error: function(xhr, status, error) {
                    toastr.error('Error al cambiar el estado del producto', '¡Ocurrió un error!');
                    // Revertir el checkbox si hay error
                    checkbox.prop('checked', !isEnabled);
                }
            });
        });
    </script>
{% endblock extrajs %}
