<div class="row m-1 mt-1">
    <div class="col-sm-12 p-1">
        <div class="card col-sm-12 p-0" style="border-color: #0375c1">
            <table class="table-hover table-sm table-bordered" id="id-table-detail-order" style="width: 100%;">
                <thead class="table-light text-uppercase small text-center">
                <tr class="text-white" style="background: #0272bc">
                    <th scope="col" class="border-right border-top border-bottom border-left font-weight-normal"
                        style="width: 5%;">#
                    </th>
                    <th scope="col" class="border-right border-top border-bottom font-weight-normal"
                        style="width: 15%;">Producto
                    </th>
{#                    <th scope="col" class="border-right border-top border-bottom font-weight-normal"#}
{#                        style="width: 15%;">Serie#}
{#                    </th>#}
                    <th scope="col" class="border-right border-top border-bottom font-weight-normal"
                        style="width: 10%;">Cantidad
                    </th>
                    <th scope="col" class="border-right border-top border-bottom font-weight-normal"
                        style="width: 5%;">Unidad
                    </th>
                    <th scope="col" class="border-right border-top border-bottom font-weight-normal"
                        style="width: 10%;">Precio
                    </th>
                    <th scope="col" class="border-right border-top border-bottom font-weight-normal"
                        style="width: 10%;">Total
                    </th>
                    <th scope="col" class="border-right border-top border-bottom border-right font-weight-normal"
                        style="width: 5%;">
                        Eliminar
                    </th>
                </tr>
                </thead>
                <tbody id="sales-details"> </tbody>
            </table>
        </div>
        <div class="card col-sm-12 mt-2 bg-light">
            <div class="card-body p-1 mb-2">
                <div class="card-group">
                    <div class="card col-sm-8 p-0 border-0 bg-light">
                        <div class="font-weight-normal m-0 p-0" id="id_table_client"></div>
                    </div>
                    <div class="card col-sm-1 p-0 border-0 align-middle mt-2 bg-light">
                        <label for="sum-total" class="float-left roboto-condensed-regular"><strong> TOTAL :
                                S/. </strong></label>
                    </div>
                    <div class="card col-sm-3 p-0 border-0 align-middle">
                        <div class="card-body p-0 mt-1">
                            <input type="text"
                                   class="form-control form-control-sm sum-total text-right font-weight-bold"
                                   id="sum-total"
                                   value="{{ total }}"
                                   name="sum-total" style="font-size: 15px;"
                                   placeholder="0.00" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="card col-sm-12 mt-2 print-ticket-bill-quotation" style="border-color: #0f478a; display: none">#}
{##}
{#            <div class="row col-sm-12">#}
{##}
{#                <div class="col-sm-6 pl-0">#}
{#                    <div class="card m-1" style="border-color: #0f478a">#}
{#                        <div class="card-body p-2">#}
{#                            <div class="row col-sm-12 p-0 m-0">#}
{#                                <div class="col-sm-4">#}
{#                                    <button type="button" id="save-order" onclick="create_voucher('0')"#}
{#                                            class="btn btn-sm btn-outline-success">#}
{#                                        <i class="fas fa-ticket-alt"></i> TICKET INTERNO#}
{#                                    </button>#}
{#                                </div>#}
{#                                <div class="col-sm-4">#}
{#                                    <button type="button" id="btn-invoice-ticket"#}
{#                                            onclick="create_voucher('1', 'T')"#}
{#                                            class="btn btn-sm btn-outline-success">#}
{#                                        <i class="fas fa-ticket-alt"></i> TICKET FACTURA#}
{#                                    </button>#}
{#                                </div>#}
{#                                <div class="col-sm-4">#}
{#                                    <button type="button" id="btn-bill-ticket"#}
{#                                            onclick="create_voucher('2', 'T')"#}
{#                                            class="btn btn-sm btn-outline-success">#}
{#                                        <i class="fas fa-ticket-alt"></i> TICKET BOLETA#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-6">#}
{#                    <div class="card m-1" style="border-color: #0f478a">#}
{##}
{#                        <div class="card-body">#}
{#                            <div class="row col-sm-12 p-0 m-0">#}
{##}
{#                                <div class="col-sm-6">#}
{#                                    <button type="button" id="btn-invoice-a4" onclick="create_voucher('1', 'F')"#}
{#                                            class="btn btn-sm btn-outline-secondary">#}
{#                                        <i class="fas fa-file-invoice"></i> GENERAR &nbsp;FACTURA A4#}
{#                                    </button>#}
{#                                </div>#}
{##}
{#                                <div class="col-sm-6">#}
{#                                    <button type="button" id="btn-bill-a4" onclick="create_voucher('2', 'F')"#}
{#                                            class="btn btn-sm btn-outline-secondary">#}
{#                                        <i class="fas fa-file-invoice"></i> GENERAR &nbsp;BOLETA A4#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
    </div>

{#    <div class="col-sm-3 p-1">#}
{#        <div class="card col-sm-12" style="border-color: #0b62a4">#}
{#            <div class="card-body p-2">#}
{#                <div class="row p-2">#}
{#                    <div class="row col-sm-12 m-0 p-0">#}
{#                        <select class="form-control form-control-sm" id="id-type-order" name="id-type-order">#}
{#                            {% for o in  order_set %}#}
{#                                <option value="{{ o.0 }}">{{ o.1 }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="row col-sm-12 m-0 p-0" id="search_quotation" style="display: none">#}
{#                        <div class="col-lg-12">#}
{#                            <label>Nº cotizacion</label>#}
{#                            <div class="input-group">#}
{#                                <input id="id-search-quotation" type="text" class="form-control form-control-sm">#}
{#                                <span class="input-group-btn">#}
{#                                    <button id="btn-search-quotation" class="btn btn-sm btn-success" type="button"#}
{#                                            onclick="SearchQuotation()">#}
{#                                      Buscar <span class="fa fa-search"></span>#}
{#                                    </button>#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row p-2">#}
{#                    <button type="button"#}
{#                            class="btn btn-warning btn-sm text-uppercase text-center mt-1 col-sm-12 col-md-12 col-lg-12"#}
{#                            id="btn-new-form"><i class="far fa-check-circle"></i>#}
{#                        Nuevo#}
{#                    </button>#}
{#                </div>#}
{#                <div class="row p-2 save-order">#}
{#                    <button type="button" id="btn-voucher-order"#}
{#                            class="btn btn-primary btn-sm text-uppercase text-center mt-1 col-sm-12 col-md-12 col-lg-12"#}
{#                            data-toggle="modal"#}
{#                            data-target="#modal-voucher"><i class="fas fa-check-circle"></i> Guardar#}
{#                    </button>#}
{#                </div>#}
{#                <div class="row p-2 update-order d-none">#}
{#                    <button type="button" id="btn-update-order"#}
{#                            class="btn btn-primary btn-sm text-uppercase text-center mt-1 col-sm-12 col-md-12 col-lg-12">#}
{#                            <i class="fas fa-sync"></i> Actualizar cotización#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div><!-- card table-->
