{% extends 'home.html' %}

{% block title %}
    Busqueda por Serie
{% endblock title %}

{% block body %}

    <div class="row mr-3 ml-0 mt-2">
        <div class="col-sm-12 p-0">
            <div class="card">
                <div class="card-body text-center font-weight-bolder pb-1">
                    <h2 class="roboto-condensed-regular font-weight-bold">BUSCADOR DE VENTAS POR SERIE DE PRODUCTO</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid roboto-condensed-regular">

        <div class="card-header text-left mt-2 mb-1 p-1">
            <form id="search-form" method="POST">
                {% csrf_token %}
                <div class="form-inline mt-0 mb-0 p-0">
                    <label class="my-1 mr-2 font-weight-bold text-uppercase" for="serial">Ingrese la serie del producto a buscar:</label>
                    <input type="text" class="form-control my-1 mr-sm-2"
                           id="serial"
                           name="serial"
                           value="">
                    <button type="submit" class="btn btn-primary my-1 ml-2" id="btn-search">
                        <i class="fas fa-search-dollar"></i> Buscar
                    </button>
                </div>
            </form>

        </div>
        <div class="table-responsive" id="table-details"></div>
    </div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p>Cargando...</p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

        $('#search-form').submit(function (event) {
            event.preventDefault();
            let _data = new FormData($('#search-form').get(0));
            $('#table-details').empty();
            $.ajax({
                url: '/sales/search_sell_by_serial/',
                type: "POST",
                data: _data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        $('#table-details').html(response.grid);
                        toastr.info(response['message'], '¡Bien hecho!');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Error de Busqueda!');
                    }
                }
            });
        });


    </script>
{% endblock extrajs %}