<div class="mr-3 ml-0">
    <div class="col-sm-12 p-1">
        <div class="card">
            <div class="card-body">
                <table class="table" style="width: 100%">
                    <tr>
                        <td style="width: 10%" class="align-middle">Producto</td>
                        <td  style="width: 50%" class="align-middle">
                            <select class="form-control" id="id_product" name="product" required>
                            <option value="0">Seleccione</option>
                            {% for product in products %}
                                <option value="{{ product.id }}">
                                    {{ product.name }}
                                </option>
                            {% endfor %}
                            </select>
                        </td>
                        <td class="align-middle" style="width: 10%">Stock</td>
                        <td class="align-middle" style="width: 30%">
                            <input type="text" readonly class="form-control" id="id_stock" name="stock"
                               placeholder="stock">
                            <input type="hidden" value="" id="id_product_store">
                        </td>
{#                        <td style="width: 10%" class="align-middle">Tipo</td>#}
{#                        <td style="width: 30%" class="align-middle">#}
{#                             <select class="form-control " id="id_type" name="type" required>#}
{#                                <option disabled selected value=""> Seleccione</option>#}
{#                                {% for t in type %}#}
{#                                    <option {% if t.type == t.0 %} selected {% endif %} value="{{ t.0 }}">#}
{#                                        {{ t.1 }}#}
{#                                    </option>#}
{#                                {% endfor %}#}
{#                             </select>#}
{#                        </td>#}
                    </tr>
                    <tr>
                        <td class="align-middle">Unidad</td>
                        <td style="width: 300px" class="align-middle">
                            <select class="form-control" disabled id="id_unit" name="unit">
                            <option disabled selected value="">Seleccione</option>
                        </select>
                        </td>

                        <td class="align-middle">Cantidad</td>
                        <td class="align-middle"><input type="number" class="form-control" id="id_quantity" name="quantity"
                               placeholder="0" required>
                        </td>
                    </tr>
                </table>
{#                <div class="row">#}
{#                    <div class="col-sm-3">#}
{#                        <p class="card-text">Descripcion:</p>#}
{#                        <select class="form-control" id="id_product" name="product" required>#}
{#                            <option value="0">Seleccione</option>#}
{#                            {% for product in products %}#}
{#                                <option value="{{ product.id }}">#}
{#                                    {{ product.name }}#}
{#                                </option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="col-sm-3">#}
{#                        <p class="card-text">Tipo:</p>#}
{#                         <select class="form-control " id="id_type" name="type" required>#}
{#                                <option disabled selected value=""> Seleccione</option>#}
{#                                {% for t in type %}#}
{#                                    <option {% if t.type == t.0 %} selected {% endif %} value="{{ t.0 }}">#}
{#                                        {{ t.1 }}#}
{#                                    </option>#}
{#                                {% endfor %}#}
{#                         </select>#}
{#                    </div>#}
{#                    <div class="col-sm-2">#}
{#                        <p class="card-text">Stock:</p>#}
{#                        <input type="text" readonly class="form-control" id="id_stock" name="stock"#}
{#                               placeholder="stock">#}
{#                        <input type="hidden" value="" id="id_product_store">#}
{#                    </div>#}
{#                    <div class="col-sm-3">#}
{#                        <p class="card-text">Unid. Medida:</p>#}
{#                        <select class="form-control" id="id_unit" name="unit">#}
{#                            <option disabled selected value="">Seleccione</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="col-sm-1">#}
{#                        <p class="card-text">Cantidad:</p>#}
{#                        <input type="number" class="form-control" id="id_quantity" name="quantity"#}
{#                               placeholder="0" required>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#id_product').select2({
        theme: 'bootstrap4',
    });


    $('#id_product').on('select2:select', function (e) {
        if ($('#id_product').val() == '0') {
            alert('Elija un producto');
            return false;
        }

        let data = e.params.data;
        let search = data['id'];
        $('#id_unit').empty();
        console.log(search);
        $.ajax({
            url: '/comercial/get_quantity_product/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {'pk': search},
            success: function (response) {
                $('#id_stock').val(response['quantity']);
                $('#id_product_store').val(response['id_product_store']);
                let units = JSON.parse(response['units']);
                units.forEach(
                    element =>
                        $('#id_unit').append(
                            '<option value="' + element['pk'] + '">' +
                            element['fields']['description'] +
                            '</option>')
                )
                {#$('#id_type').trigger('change')#}
            },
            fail: function (response) {
                console.log("error");
            }
        });

    });
   $('#id_type').change(function () {
        if ($('#id_product').val() == '0') {
            alert('Por favor elija un producto');
            return false;
        }
        if ($('#id_type').val() == '0') {
            alert('Seleccione el tipo por favor');
            return false;
        }
        let _id_product = $('#id_product').val();
        let _id_type = $(this).val();
        $('#id_stock').val('');
        $('#id_product_store').val('');
        $.ajax({
            url: '/comercial/get_stock_by_product_type/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {'id_product_': _id_product,'id_type_':_id_type},
            success: function (response) {
                $('#id_stock').val(response['quantity']);
                $('#id_product_store').val(response['id_product_store']);
            },
            fail: function (response) {
                console.log("error");
            }
        });
        if (_id_type == 1){
             setSelectedOptionByText('BALON');
        }
        else
        {
            if (_id_type == 2){
              setSelectedOptionByText('BALON + GLP');
            }
            else
            {
                if (_id_type == 3){
                  setSelectedOptionByText('BALON + GLP');
                }
                else
                {
                    if (_id_type == 4){
                      setSelectedOptionByText('BALON');
                    }
                }
            }
        }
    });

    function setSelectedOptionByText(text) {
        let matchingOption = $("select#id_unit option").filter(function () {
            return $(this).text() == text;
        });
        matchingOption.prop('selected', true);
    }
</script>
