{% extends 'home.html' %}

{% block title %}
    Salidas | Reparto
{% endblock title %}

{% block body %}
    <div class="contbtn-updateainer-fluid m-0 p-0">
        <div class="card-header p-1" style="background: #e0e0e0">
            <table style="width: 100%">
                <tr>
                    <td style="width: 40%">
                        <button type="button" onclick="showModalView('output_distribution')"
                                class="btn btn-outline-success btn-sm"><i class="fas fa-database"></i> REGISTRAR SALIDA REPARTO
                        </button>
                    </td>
                    <td style="width: 44%"></td>
                    <td class="pl-2 pr-2" style="width: 4%">Fecha</td>
                    <td class="pl-2 pr-2" style="width: 12%"><input type="date" class="form-control  form-control-sm"
                                                                    id="id_date_distribution">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Content -->
        <div class="container-fluid">
            <div class="table-responsive" id="table-distribution_list"></div>
        </div>
      <div class="modal fade" id="modal-distribution" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">
        function showModalView(route) {
            $.ajax({
                url: '/comercial/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': 1},
                success: function (response) {
                    $('#modal-distribution').html(response.form);
                    $('#modal-distribution').modal('show');
                },
                fail: function (response) {
                    console.log(response);
                }
            });

        };

        $(document).on('click', '.btn-show-detail', function () {
            let search = $(this).attr('pk');
            let _table = $(this).parent('div').parent('div').parent('td').parent('tr').next('tr').children('td.table-details-distribution');
            $('#table-distribution-programmings tbody tr td.table-details-distribution').parent('tr').slideUp(800);
            $('#table-distribution-programmings tbody tr td.table-details-distribution').empty();

            $.ajax({
                url: '/comercial/get_details_by_distributions_mobil/',
                async: true,
                dataType: 'json',
                type: 'GET',
                //mando  id de la compra
                data: {'ip': search},
                // si va bien retorna la data
                success: function (response) {
                    _table.html(response.grid);
                    _table.parent('tr').slideDown(800);
                },
            });
        });
        $(document).on('click', '.btn-update', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/comercial/get_distribution_mobil_return/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('#modal-distribution').html(response.form);
                        $('#modal-distribution').modal('show');
                    }
                    else
                    {  if(response.error)
                       {
                            toastr.warning(response.error);
                       }
                    }
                },
                fail: function (response) {
                    toastr.error('PROBLEMAS AL MOSTRAR EL MODAL');
                }
            });
        });
        $(document).on('click', '.btn-distribution-recovered', function () {
            $('#modal-distribution').empty()
            let search = $(this).attr('pk');
            $.ajax({
                url: '/comercial/get_distribution_mobil_recovered/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('#modal-distribution').html(response.form);
                        $('#modal-distribution').modal('show');
                    }
                    else
                    {  if(response.error)
                       {
                            toastr.warning(response.error);
                       }
                    }
                },
                fail: function (response) {
                    toastr.error('PROBLEMAS AL MOSTRAR EL MODAL');
                }
            });
        });

        /***
         $(document).on('click', '.btn-distribution-sales', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/comercial/get_distribution_mobil_sales/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('#modal-distribution').html(response.form);
                        $('#modal-distribution').modal('show');

                    }
                },
                fail: function (response) {
                    console.log(response);
                }

            });
        });***/
        $('#id_date_distribution').change(function () {
            let _search = $(this).val();
            $('#table-distribution_list').empty();
            $.ajax({
                url: '/comercial/get_distribution_list/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'_date': _search},
                success: function (response) {
                    $('#table-distribution_list').html(response['grid']);
                },
            });
        });
        $(document).on('click', '.btn-client-advancement', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/comercial/get_advancement_client/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    $('#modal-distribution').html(response.form);
                    $('#modal-distribution').modal('show');
                },
                fail: function (response) {
                    console.log(response);
                }
            });

        });
       $(document).on('click', 'table#table-dictionary tbody#details-recovered tr td.item-btn button.btn-recovered', function (event) {
       event.preventDefault();
        let row = $(this).parent('td').parent('tr')

        let message = confirm("¿Esta seguro de hacer esta recuperación");
        if (message) {

            $.ajax({
                url: '/comercial/save_recovered_b/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {
                    'distribution_mobil': $('#id_pk').val(),
                    'order': row.attr('info'),
                    'detail_order_id': $(this).attr('pk'),
                    'product': row.attr('product'),
                    'unit': row.find('td.item-unit').attr('unit'),
                    'quantity_recover': row.find('td.item-quantity-recovered input.id_quantity_recover').val(),
                },
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        toastr.success(response.message, '¡Mensaje!');
                        $('#table-order').html(response.grid).parent('div').slideDown();

                    }
                },
                fail: function (response) {
                    toastr.error("Error. ", '¡Inconcebible!');
                }
            });
        }
    });
    </script>
{% endblock extrajs %}
