{% if distribution_mobil %}
    <div class="card border-primary m-2">
        <div class="card-header pb-0" style="background: #2b579a">
            <h6 class="card-title text-center text-white">LISTA DE SALIDAS REPARTO</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive dataTables_wrapper ">
                <table id="table-distribution-programmings"
                       class="table table-sm  align-content-center table-bordered response"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr class="text-center  bg-primary text-white" style="height: 15px;">

                        <th class="th-sm font-weight-normal">#</th>
                        <th class="th-sm font-weight-normal">Placa</th>
                        <th class="th-sm font-weight-normal">Conductor</th>
                        <th class="th-sm font-weight-normal">Fecha</th>
                        <th class="th-sm font-weight-normal">Estado</th>
                        <th class="th-sm font-weight-normal">Usuario</th>
                        <th class="th-sm font-weight-normal">Detalle</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for dm in distribution_mobil %}
                        <tr class="text-center ">
                            <td>{{ dm.id }}</td>
                            <td><span
                                    class="badge badge-primary  badge-pill p-2 font-weight-normal">{{ dm.truck.license_plate }}</span>
                            </td>
                            <td>{{ dm.pilot.full_name }}</td>
                            <td>{{ dm.date_distribution }}</td>
                            <td>
                                {% if dm.status == 'F' %}
                                    <span class="badge badge-primary badge-pill p-2 font-weight-normal">{{ dm.get_status_display }}</span>
                                {% else %}
                                    <span class="badge badge-success badge-pill p-2 font-weight-normal">{{ dm.get_status_display }}</span>
                                {% endif %}
                            </td>
                            <td>{{ dm.user.worker_set.last.employee.full_name }}</td>
                            <td class="p-1">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary  dropdown-toggle"
                                            pk="{{ dm.id }}"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu bg-primary text-white font-italic">
                                        <a class="dropdown-item btn-show-detail" pk="{{ dm.id }}"><i
                                                class="fas fa-save pr-1"></i> Detalle salida</a>
                                        {% if dm.status != 'F' %}
                                            <a class="dropdown-item btn-purchase text-white"
                                               href="{% url 'sales:sales_list' dm.id %}"><i
                                                    class="fas fa-edit pr-1"></i> Realizar ventas</a>
                                        {% endif %}
                                        {% if dm.status != 'F' %}
                                            <a class="dropdown-item btn-distribution-recovered" pk="{{ dm.id }}"><i
                                                    class="fas fa-edit pr-1"></i> Ingresar prestados</a>
                                        {% endif %}
                                        {% if dm.status != 'F' %}
                                            <a class="dropdown-item btn-client-advancement" pk="{{ dm.id }}"><i
                                                    class="fas fa-save pr-1"></i> Adelanto balones</a>
                                            {#                                        <a class="dropdown-item btn-annular" pk="{{ dm.id }}"><i#}
                                            {#                                                class="fas fa-edit pr-1"></i> Anular salida</a>#}
                                        {% endif %}
                                        {% if dm.status != 'F' %}
                                            <a class="dropdown-item btn-update" pk="{{ dm.id }}"><i
                                                    class="fas fa-edit pr-1"></i> Retornar balones </a>
                                        {% endif %}

                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr style="display: none">
                            <td colspan="7" class="table-details-distribution bg-white p-0"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="text-center bg-primary text-white" style="height: 15px;">
                        <th class="th-sm font-weight-normal">#</th>
                        <th class="th-sm font-weight-normal">Placa</th>
                        <th class="th-sm font-weight-normal">Conductor</th>
                        <th class="th-sm font-weight-normal">Fecha</th>
                        <th class="th-sm font-weight-normal">Estado</th>
                        <th class="th-sm font-weight-normal">Usuario</th>
                        <th class="th-sm font-weight-normal">Detalle</th>
                    </tr>
                    </tfoot>
                </table>

            </div>

        </div>

        <!-- Card -->
    </div>


{% else %}
    <h1>No existen salidas programadas</h1>
{% endif %}
<script>

</script>