{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Consultas de reparto
{% endblock title %}

{% block body %}



    <div class="container-fluid">
        <form class="form-inline" id="search-form" method="POST">
            {% csrf_token %}
            <label class="my-1 mr-2" for="id-truck">PLACA :</label>
            <select class="custom-select my-1 mr-sm-2" id="id-truck" name="truck" required>
                <option value="" disabled selected>SELECCIONE...</option>

                {% for t in truck_set %}
                    <option value="{{ t.pk }}">{{ t.license_plate }} - {{ t.distributionmobil_set.count }}</option>
                {% endfor %}

            </select>

            <label class="my-1 mr-2" for="id-start-date">Fecha Inicial</label>
            <input type="date"
                   class="form-control my-1 mr-sm-2"
                   id="id-start-date"
                   name="start-date"
                   value="{{ formatdate }}">

            <label class="my-1 mr-2" for="id-end-date">Fecha final</label>
            <input type="date"
                   class="form-control my-1 mr-sm-2"
                   id="id-end-date"
                   name="end-date"
                   value="{{ formatdate }}">

            <button type="submit" class="btn btn-info my-1">
                <i class="fas fa-search-dollar" id="btn-search"></i> Buscar
            </button>

        </form>


        <div id="distribution-grid-list">{% include "comercial/distribution_queries_grid_list.html" %}</div>

    </div>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
    loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p>Cargando...</p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

        $('#id-start-date').change(function () {
            $('#id-end-date').val($(this).val());
        });

        $('#search-form').submit(function (event) {
            event.preventDefault();

            let _data = new FormData($('#search-form').get(0));

            $("#btn-search").attr("disabled", "true");
            $('#distribution-grid-list').empty();
            $('#distribution-grid-list').html(loader);

            $.ajax({
                url: '/comercial/get_distribution_query/',
                type: "POST",
                data: _data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    console.log(response);
                    if (xhr.status === 200) {
                        $('#distribution-grid-list').html(response.grid);
                        toastr.info(response['message'], '¡Bien hecho!');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.info(jqXhr.responseJSON.error, '¡Inconcebible!');
                        $('#distribution-grid-list').html('<div class="alert alert-info alert-dismissible fade show mt-3" role="alert">\n' +
                            '        <strong>Atencion!</strong> Tu debes ingresar una fecha primero.\n' +
                            '        <button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                            '            <span aria-hidden="true">×</span>\n' +
                            '        </button>\n' +
                            '    </div>');
                    }
                }
            });
            $("#btn-search").removeAttr("disabled", "false");
            $('#search-form').modal('hide');

        });
    </script>
{% endblock extrajs %}