<style>


    .rTable {

        width: 100%;
        display: inline-block;
        float: none;
    }

    .rTableHeading, .rTableBody, .rTableFoot, .rTableRow {
        clear: both;
        /*border: 1px solid #e9a841;*/
        font-size: 0;
    }

    .rTableHead, .rTableFoot {
        font-weight: bold;
    }

    .rTableCell, .rTableHead {
        border: 1px solid #eee;
        overflow: hidden;
        padding: 3px 3px;
        display: inline-block;
        font-size: small;
        vertical-align: top;


    }

    .rTableCell:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .rTable:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .rectangles {
        overflow-x: auto;
        white-space: nowrap;
        /*padding-top: 6em;*/
    }


</style>

{% if dictionary %}
<div class="rTable rectangles">
    <div style="/*position: fixed;margin-top: -5.65em;*/">
        <div class="rTableRow text-uppercase small font-weight-bold">
            <div class="rTableHead text-center" style="width: 5em;background: #dee2e6;">Fecha</div>
            <div class="rTableHead text-center text-dark" style="width: 25em;background: #dee2e6;">Salida</div>
            <div class="rTableHead text-center" style="width: 25em;background: #dee2e6;">Entrada</div>
            <div class="rTableHead text-center text-dark-50" style="width: 25em;background: #dee2e6;">Diferencia</div>
            <div class="rTableHead text-center text-dark" style="width: 119em;background: #dee2e6;">Ventas</div>
        </div>

        <div class="rTableRow text-uppercase small font-weight-bold">
            <div class="rTableHead" style="width: 5em;background: #dee2e6;">&nbsp;</div>

            <div class="rTableHead text-center text-dark" style="width: 3em;background: #dee2e6;">id</div>
            <div class="rTableHead text-center text-dark" style="width: 9em;background: #dee2e6;">producto</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">cant.</div>
            <div class="rTableHead text-center text-dark" style="width: 3em;background: #dee2e6;">und</div>
            <div class="rTableHead text-center text-dark" style="width: 6em;background: #dee2e6;">tipo</div>

            <div class="rTableHead text-center" style="width: 3em;background: #dee2e6;">id</div>
            <div class="rTableHead text-center" style="width: 9em;background: #dee2e6;">producto</div>
            <div class="rTableHead text-center" style="width: 4em;background: #dee2e6;">cant.</div>
            <div class="rTableHead text-center" style="width: 3em;background: #dee2e6;">und</div>
            <div class="rTableHead text-center" style="width: 6em;background: #dee2e6;">tipo</div>

            <div class="rTableHead text-center text-dark-50" style="width: 9em;background: #dee2e6;">producto</div>
            <div class="rTableHead text-center text-dark-50" style="width: 4em;background: #dee2e6;">vend.</div>
            <div class="rTableHead text-center text-dark-50" style="width: 4em;background: #dee2e6;">prest.</div>
            <div class="rTableHead text-center text-dark-50" style="width: 4em;background: #dee2e6;">recup.</div>
            <div class="rTableHead text-center text-dark-50" style="width: 4em;background: #dee2e6;">debe.</div>

            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">id</div>
            <div class="rTableHead text-center text-dark" style="width: 9em;background: #dee2e6;">cliente</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">total</div>
            <div class="rTableHead text-center text-dark" style="width: 6em;background: #dee2e6;">fecha</div>
            <div class="rTableHead text-center text-dark" style="width: 28em;background: #dee2e6;">detalles</div>
            <div class="rTableHead text-center text-dark" style="width: 34em;background: #dee2e6;">gastos</div>
            <div class="rTableHead text-center text-dark" style="width: 34em;background: #dee2e6;">pagos</div>


        </div>

        <div class="rTableRow text-uppercase">

            <div class="rTableHead text-center" style="width: 5em;background: #dee2e6;">&nbsp;</div>
            <div class="rTableHead text-center" style="width: 25em;background: #dee2e6;">&nbsp;</div>
            <div class="rTableHead text-center" style="width: 25em;background: #dee2e6;">&nbsp;</div>
            <div class="rTableHead text-center" style="width: 25em;background: #dee2e6;">&nbsp;</div>
            <div class="rTableHead text-center" style="width: 23em;background: #dee2e6;">&nbsp;</div>

            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">id</div>
            <div class="rTableHead text-center text-dark" style="width: 9em;background: #dee2e6;">producto</div>
            <div class="rTableHead text-center text-dark" style="width: 3em;background: #dee2e6;">und</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">cant.</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">precio</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">subtotal</div>

            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">id</div>
            <div class="rTableHead text-center text-dark" style="width: 9em;background: #dee2e6;">caja</div>
            <div class="rTableHead text-center text-dark" style="width: 9em;background: #dee2e6;">usuario</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">igv</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">subtotal</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">total</div>

            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">id</div>
            <div class="rTableHead text-center text-dark" style="width: 9em;background: #dee2e6;">caja</div>
            <div class="rTableHead text-center text-dark" style="width: 9em;background: #dee2e6;">usuario</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">igv</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">subtotal</div>
            <div class="rTableHead text-center text-dark" style="width: 4em;background: #dee2e6;">total</div>


        </div>
    </div>
    {% for distribution in dictionary %}
        <div class="rTableRow" rows="{{ distribution.rows }}"
             is_multi_detail="{{ distribution.is_multi_detail }}"
             is_multi_expenses="{{ distribution.is_multi_expenses }}"
             is_multi_payments="{{ distribution.is_multi_payments }}">
            <div class="rTableCell"
                 style="width: 5em; height: calc(36px * {{ distribution.rows }});">
                {{ distribution.date|date:"d-m-y" }}

            </div>


            <div class="rTableCell p-0 border-0" rows="{{ distribution.number_outputs }}">

                <div class="rTable align-top">
                    {% for output in distribution.output_distribution_detail %}
                        <div class="rTableRow">
                            <div class="rTableCell text-dark"
                                 style="width: 3em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_outputs }});background: #f8f9fa;">{{ output.id }}</div>
                            <div class="rTableCell text-dark"
                                 style="width: 9em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_outputs }});background: #f8f9fa;">{{ output.product }}</div>
                            <div class="rTableCell text-danger font-weight-bold"
                                 style="width: 4em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_outputs }});background: #f8f9fa;">{{ output.quantity|floatformat:0 }}</div>
                            <div class="rTableCell text-dark"
                                 style="width: 3em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_outputs }});background: #f8f9fa;">{{ output.unit }}</div>
                            <div class="rTableCell text-dark"
                                 style="width: 6em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_outputs }});background: #f8f9fa;">{{ output.type }}</div>
                        </div>
                    {% empty %}
                        <div class="rTableRow">
                            <div class="rTableCell" style="width: 25em">&nbsp;</div>
                        </div>
                    {% endfor %}

                </div>
            </div>


            <div class="rTableCell p-0 border-0" rows="{{ distribution.number_inputs }}">

                <div class="rTable align-top">

                    {% for input in distribution.input_distribution_detail %}
                        <div class="rTableRow">
                            <div class="rTableCell"
                                 style="width: 3em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_inputs }});background: #f8f9fa;">{{ input.id }}</div>
                            <div class="rTableCell"
                                 style="width: 9em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_inputs }});background: #f8f9fa;">{{ input.product }}</div>
                            <div class="rTableCell text-center text-primary font-weight-bold"
                                 style="width: 4em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_inputs }});background: #f8f9fa;">{{ input.quantity|floatformat:0 }}</div>
                            <div class="rTableCell"
                                 style="width: 3em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_inputs }});background: #f8f9fa;">{{ input.unit }}</div>
                            <div class="rTableCell"
                                 style="width: 6em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_inputs }});background: #f8f9fa;">{{ input.type }}</div>
                        </div>
                    {% empty %}
                        <div class="rTableRow">
                            <div class="rTableCell"
                                 style="width: 25em; height: calc(36px * {{ distribution.rows }});background: #f8f9fa;">
                                &nbsp;
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>

            <div class="rTableCell p-0 border-0" style="height: calc(36px * {{ distribution.rows }});"
                 rows="{{ distribution.rows }}">
                <div class="rTable align-top">
                    {% for product in distribution.products %}
                        <div class="rTableRow">
                            <div class="rTableCell text-center text-dark" style="width: 9em;background: #f8f9fa;
                                    height: calc(36px * {{ distribution.rows }}/{{ distribution.number_products }});
                                    ">{{ product.name }}</div>
                            <div class="rTableCell text-center text-success font-weight-bold"
                                 style="width: 4em;background: #f8f9fa;
                                         height: calc(36px * {{ distribution.rows }}/{{ distribution.number_products }});
                                         ">{{ product.sold|floatformat:0 }}</div>
                            <div class="rTableCell text-center text-success font-weight-bold"
                                 style="width: 4em;background: #f8f9fa;
                                         height: calc(36px * {{ distribution.rows }}/{{ distribution.number_products }});
                                         ">{{ product.borrowed|floatformat:0 }}</div>
                            <div class="rTableCell text-center text-success font-weight-bold"
                                 style="width: 4em;background: #f8f9fa;
                                         height: calc(36px * {{ distribution.rows }}/{{ distribution.number_products }});
                                         ">{{ product.recovered|floatformat:0 }}</div>
                            <div class="rTableCell text-center text-success font-weight-bold"
                                 style="width: 4em;background: #f8f9fa;
                                         height: calc(36px * {{ distribution.rows }}/{{ distribution.number_products }});
                                         ">{{ product.owe|floatformat:0 }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="rTableCell p-0 border-0">

                <div class="rTable align-top">
                    {% for sales in distribution.sales %}
                        <div class="rTableRow">
                            <div class="rTableCell" style="width: 4em;background: #f8f9fa;
                                    height: calc(36px * {{ sales.height }});
                                    ">{{ sales.height }}-{{ sales.id }}-{{ sales.type }}</div>
                            <div class="rTableCell" style="width: 9em;background: #f8f9fa;
                                    height: calc(36px * {{ sales.height }});
                                    ">{{ sales.client }}</div>
                            <div class="rTableCell text-right font-weight-bold" style="width: 4em;background: #f8f9fa;
                                    height: calc(36px * {{ sales.height }});
                                    ">{{ sales.total }}</div>
                            <div class="rTableCell" style="width: 6em;background: #f8f9fa;
                                    height: calc(36px * {{ sales.height }});
                                    ">{{ sales.create_at|date:"Y-m-d" }}</div>

                            <div class="rTableCell p-0 border-0" rows="{{ sales.number_order_details }}">

                                <div class="rTable align-top">
                                    {% for od in sales.order_detail %}

                                        <div class="rTableRow">
                                            <div class="rTableCell text-dark"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_order_details }});
                                                         ">{{ od.id }}</div>
                                            <div class="rTableCell text-dark"
                                                 style="width: 9em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_order_details }});
                                                         ">{{ od.product.name }}</div>
                                            <div class="rTableCell text-dark"
                                                 style="width: 3em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_order_details }});
                                                         ">{{ od.unit }}</div>
                                            <div class="rTableCell text-dark text-center font-weight-bold"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_order_details }});
                                                         ">{{ od.quantity_sold|floatformat:0 }}</div>
                                            <div class="rTableCell text-dark text-right"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_order_details }});
                                                         ">{{ od.price_unit }}</div>
                                            <div class="rTableCell text-dark text-right"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_order_details }});
                                                         ">{{ od.multiply|floatformat:2 }}</div>
                                        </div>
                                    {% empty %}
                                        <div class="rTableRow">
                                            <div class="rTableCell text-dark"
                                                 style="width: 28em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_order_details }});
                                                         ">
                                                &nbsp;
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>

                            <div class="rTableCell p-0 border-0" rows="{{ sales.number_expenses }}">

                                <div class="rTable align-top">
                                    {% for e in sales.expenses %}

                                        <div class="rTableRow">
                                            <div class="rTableCell text-dark" style="width: 4em;background: #f8f9fa;
                                                    height: calc(36px * {{ sales.height }}/{{ sales.number_expenses }});
                                                    ">{{ e.id }}</div>
                                            <div class="rTableCell text-dark" style="width: 9em;background: #f8f9fa;
                                                    height: calc(36px * {{ sales.height }}/{{ sales.number_expenses }});
                                                    ">{{ e.cash.name }}</div>
                                            <div class="rTableCell text-dark" style="width: 9em;background: #f8f9fa;
                                                    height: calc(36px * {{ sales.height }}/{{ sales.number_expenses }});
                                                    ">{{ e.user.worker_set.last.employee.names }}</div>
                                            <div class="rTableCell text-warning text-right font-weight-bold"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_expenses }});
                                                         ">{{ e.igv|floatformat:2 }}</div>
                                            <div class="rTableCell text-warning text-right font-weight-bold"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_expenses }});
                                                         ">{{ e.subtotal|floatformat:2 }}</div>
                                            <div class="rTableCell text-warning text-right font-weight-bold"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_expenses }});
                                                         ">{{ e.total|floatformat:2 }}</div>
                                        </div>
                                    {% empty %}
                                        <div class="rTableRow">
                                            <div class="rTableCell text-dark" style="width: 34em;background: #f8f9fa;
                                                    height: calc(36px * {{ sales.height }}/{{ sales.number_expenses }});

                                                    ">&nbsp;
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>

                            <div class="rTableCell p-0 border-0" rows="{{ sales.number_payments }}">

                                <div class="rTable align-top">
                                    {% for p in sales.payments %}

                                        <div class="rTableRow">
                                            <div class="rTableCell" style="width: 4em;background: #f8f9fa;
                                                    height: calc(36px * {{ sales.height }}/{{ sales.number_payments }});
                                                    ">{{ p.id }}</div>
                                            <div class="rTableCell" style="width: 9em;background: #f8f9fa;
                                                    height: calc(36px * {{ sales.height }}/{{ sales.number_payments }});
                                                    ">{{ p.cash.name }}</div>
                                            <div class="rTableCell" style="width: 9em;background: #f8f9fa;
                                                    height: calc(36px * {{ sales.height }}/{{ sales.number_payments }});
                                                    ">{{ p.user.worker_set.last.employee.names }}</div>
                                            <div class="rTableCell text-right text-primary font-weight-bold"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_payments }});
                                                         ">{{ p.igv|floatformat:2 }}</div>
                                            <div class="rTableCell text-right text-primary font-weight-bold"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_payments }});
                                                         ">{{ p.subtotal|floatformat:2 }}</div>
                                            <div class="rTableCell text-right text-primary font-weight-bold"
                                                 style="width: 4em;background: #f8f9fa;
                                                         height: calc(36px * {{ sales.height }}/{{ sales.number_payments }});
                                                         ">{{ p.total|floatformat:2 }}</div>
                                        </div>
                                    {% empty %}
                                        <div class="rTableRow">
                                            <div class="rTableCell" style="width: 34em;
                                                    background: #f8f9fa;
                                                    height: calc(36px * {{ sales.height }}/{{ sales.number_payments }});

                                                    ">&nbsp;
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    {% empty %}
                        <div class="rTableRow">
                            <div class="rTableCell"
                                    {% if distribution.number_sales > 0 %}
                                 style="width: 119em; height: calc(36px * {{ distribution.rows }}/{{ distribution.number_sales }});background: #f8f9fa;"
                                    {% else %}
                                 style="width: 119em; height: calc(36px * {{ distribution.rows }});background: #f8f9fa;"
                                    {% endif %}
                            >
                                &nbsp;
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>


        </div>

    {% endfor %}

    <div class="rTableRow">
        <div class="rTableCell text-center" style="width: calc(80em + 23em + 28em + 30em); height: calc(36px * 1);">TOTALES</div>
        <div class="rTableCell text-right text-warning font-weight-bold"
             style="width: calc(4em); height: calc(36px * 1);">{{ sum_expenses|floatformat:2 }}</div>
        <div class="rTableCell" style="width: calc(30em); height: calc(36px * 1);"></div>
        <div class="rTableCell text-right text-primary font-weight-bold"
             style="width: calc(4em); height: calc(36px * 1);">{{ sum_payments|floatformat:2 }}</div>
    </div>

    <div class="rTableRow">
        <div class="rTableCell text-center" style="width: calc(80em + 23em + 28em + 30em); height: calc(36px * 1);">DIFERENCIA DE PAGOS MENOS GASTOS</div>
        <div class="rTableCell"
             style="width: calc(4em); height: calc(36px * 1);"></div>
        <div class="rTableCell" style="width: calc(30em); height: calc(36px * 1);"></div>
        <div class="rTableCell text-right text-success font-weight-bold"
             style="width: calc(4em); height: calc(36px * 1);">{{ dif_pe|floatformat:2 }}</div>
    </div>


</div>
{% endif %}
