{#TABLA GUIAS#}
<div class="card-group">
    <div class="card col-sm-2 p-0">
        <table id="guide-data-grid" class="table table-bordered table-sm m-0">
            <thead>
            <tr class="bg-light text-dark text-center" style="height: 50px;">

                <th scope="col" class="align-middle">Guia</th>
            </tr>
            </thead>
            <tbody>
            {% if  guide %}
                <tr>
                    <td>
                        <strong>id: </strong>{{ guide.id}} <br>
                        <strong>Serie: </strong> {{ guide.serial }} <br>
                        <strong>Codigo: </strong> {{ guide.code }} <br>
                        <strong>Costo Minimo: </strong> {{ guide.minimal_cost }} <br>
                        <strong>Cliente: </strong> {{ guide.client }} <br>
                        <strong>Estado: </strong> {{ guide.status }} <br>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{#FIN TABLA GUIAS#}

{#INICIO TABLA DETALLE GUIAS#}
    <div class="col-sm-10 pr-1 pl-2">
        <table id="guide-data-grid" class="table table-bordered table-sm">
            <thead>
            <tr class="bg-light text-dark text-center" style="height: 50px;">
                <th scope="col" class="align-middle">#</th>
                <th scope="col" class="align-middle">Producto</th>
                <th scope="col" class="align-middle">Cantidad</th>
                <th scope="col" class="align-middle">Unidad de Medidad</th>
                <th scope="col" class="align-middle">Peso</th>
            </tr>
            </thead>
            <tbody>
            {% for d in details %}
                <tr>
                    <td> {{ d.id }}</td>
                    <td> {{ d.product.name }}</td>
                    <td> {{ d.quantity }}</td>
                    <td> {{ d.unit_measure }}</td>
                    <td> {{ d.weight }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{#FIN TABLA DETALLE GUIA#}