<table class="table table-sm text-uppercase small mt-0 mb-0">
    <tr>
        <td style="width: 25%;" class="border-top-0">&nbsp;</td>
        <td style="width: 25%;" class="border-top-0">&nbsp;</td>
        <td style="width: 25%;" class="border-top-0">&nbsp;</td>
        <td style="width: 25%;" class="border-top-0">&nbsp;</td>
    </tr>

    <tr>
        <td class="border-top-0" colspan="2">Tipo documento:</td>
        <td class="border-top-0" colspan="2">Documento:</td>
    </tr>

    <tr>

        <td class="border-top-0" colspan="2">
            <select class="form-control form-control-sm font-weight-bold text-uppercase"
                    id="id_document_type_attached"
                    name="document_type_attached" required>
                <option disabled value="">Seleccione...</option>
                {% for item in choices_document_type_attached %}
                    <option {% if item.0 == 'F' %}selected{% endif %} value="{{ item.0 }}">{{ item.1 }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="border-top-0" colspan="2">
            <input type="text" class="form-control form-control-sm font-weight-bold text-uppercase"
                   id="id_document"
                   name="document">
        </td>
    </tr>

    <tr>

        <td class="border-top-0" colspan="2">Motivo:</td>
        <td class="border-top-0" colspan="2">Almacen destino:</td>

    </tr>
    <tr>


        <td class="border-top-0" colspan="2">
            <select class="form-control form-control-sm font-weight-bold text-uppercase"
                    id="id_motive"
                    name="motive" required>
                <option selected disabled value="">Seleccione...</option>
                {% for motive in motives %}
                    <option class="" value="{{ motive.id }}">{{ motive.description }}</option>
                    {#                    {% if motive.id == 13 or motive.id == 15 or motive.id == 16 or motive.id == 17 %}#}
                    {#                        <option class="text-danger" value="{{ motive.id }}" disabled>{{ motive.description }}</option>#}
                    {#                    {% else %}#}
                    {#                        <option class="text-primary" value="{{ motive.id }}">{{ motive.description }}</option>#}
                    {#                    {% endif %}#}

                {% endfor %}
            </select>
        </td>


        <td class="border-top-0" colspan="2">
            <select class="form-control form-control-sm font-weight-bold text-uppercase"
                    id="id_destiny"
                    name="destiny" required>
                {#                <option selected disabled value="">Seleccione...</option>#}
                {% for ss in subsidiary_store_obj %}
                    <option value="{{ ss.subsidiary.id }}" selected>{{ ss.subsidiary.name }} - {{ ss.name }}</option>
                {% endfor %}
            </select>
        </td>

    </tr>


    <tr>
        <td class="border-top-0 pt-3" colspan="4">Observaciones:</td>

    </tr>

    <tr>
        <td class="border-top-0" colspan="4">
                <textarea class="form-control form-control-sm font-weight-bold text-uppercase"
                          name="observation"
                          id="id_observation" rows="4" cols="100"></textarea>
        </td>


    </tr>
    <tr>
        <td class="border-top-0 text-right pt-3" colspan="2">
            <button type="button" id="btn-new"

                    class="btn btn-primary btn-block pb-1 guide-new text-left">
                <span class="fas fa-newspaper"></span> Nuevo
            </button>
        </td>
        <td class="border-top-0 text-right pt-3" colspan="2">
            <button type="button"
                    id="btn-save"
                    class="btn btn-success btn-block pb-1 mb-1 guide-save text-left">
                <span class="fas fa-save"></span> Guardar
            </button>

        </td>
    </tr>

</table>
