{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Lista de salidas
{% endblock title %}

{% block body %}
    <div class="container-fluid">
    <form method="POST" action="{% url 'comercial:output_workflow' %}">
        {% csrf_token %}
        <table class="table m-0">
            <tr>
                <td class="align-middle font-weight-bolder pl-0">Fecha inicial</td>
                <td class="align-middle">
                    <input type="date"
                           class="form-control"
                           name="date_initial"
                           id="id_date_initial"
                           value="{{ date_now }}" required>
                </td>
                <td class="align-middle font-weight-bolder">Fecha final</td>
                <td class="align-middle">
                    <input type="date"
                           class="form-control"
                           name="date_final"
                           id="id_date_final"
                           value="{{ date_now }}" required>
                </td>
                <td class="align-middle text-left">
                    <button type="submit" id="id_btn_show" class="btn btn-info">
                        <i class="fas fa-search"></i> &nbsp; CONSULTAR
                    </button>
                </td>
                <td class="align-middle text-right pr-0">
                    <a href="{% url 'comercial:output_guide' %}" class="btn btn-info">
                        <i class="fas fa-folder-plus"></i> &nbsp; NUEVA NOTA DE SALIDA
                    </a>
                </td>

            </tr>
        </table>
    </form>

        <div class="card">
            <div class="card-header text-center align-middle">
                <h5 class="card-title mb-0 text-primary">LISTA DE SALIDAS</h5>
            </div>
            <div class="card-group">
                <div class="col-sm-12 pt-3">
                    <table id="manufacture-data-grid" class="table table-bordered table-sm border-1">
                        <thead>
                        <tr class="bg-light text-dark text-center" style="height: 50px;">
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                ID
                            </th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                Creado
                            </th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                Serie - Nro de Documento
                            </th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                Tipo
                            </th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                Observaciones
                            </th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                Detalle de Guia
                            </th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                Procedencia
                            </th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                Destino
                            </th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                Valorización
                            </th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">Solicita</th>
{#                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">Aprueba</th>#}
{#                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">Cancela</th>#}
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">Estado</th>
                            <th class="align-middle border-top-0 border-left-0 border-bottom border-right">Acción</th>
                        </tr>
                        </thead>
                        <tbody id="details">
                        {% for g in guides %}
                            <tr pk="{{ g.id }}">
                                <td class="align-middle
                                border-top-0
                                border-left-0
                                border-bottom
                                border-right
                                text-dark
                                font-weight-bold
                                text-center">{{ g.id }}
                                </td>
                                <td class="align-middle
                                border-top-0
                                border-left-0
                                border-bottom
                                border-right
                                text-dark
                                font-weight-bold
                                text-center">{{ g.created_at|date:"m-d" }}
                                </td>
                                <td class="align-middle
                                border-top-0
                                border-left-0
                                border-bottom
                                border-right
                                text-primary
                                font-weight-bold
                                text-center">{{ g.subsidiary.serial }} - {{ g.document_number }}
                                </td>
                                <td class="align-middle border-top-0 border-left-0 border-bottom border-right text-center">
                                    <span class="font-weight-bolder">{{ g.guide_motive.get_type_display }}</span><br>
                                    {{ g.guide_motive.description }}
                                </td>
                                <td class="align-middle border-top-0 border-left-0 border-bottom border-right">
                                    {{ g.observation }}
                                </td>
                                <td class="align-middle border-top-0 border-left-0 border-bottom border-right text-center p-0">
                                    <table class="table m-0">
                                        <tr>
                                            <td class="border-top-0" style="width: 35%;">Producto</td>
                                            <td class="border-top-0" style="width: 15%;">Unidades</td>
                                            <td class="border-top-0" style="width: 15%;">Cantidad Requerida</td>
                                            <td class="border-top-0" style="width: 15%;">Cantidad enviada</td>
                                            <td class="border-top-0" style="width: 15%;">Cantidad recibida</td>
                                        </tr>
                                        {% for gd in g.guidedetail_set.all %}
                                            <tr>
                                                <td>{{ gd.product.name }}</td>
                                                <td>{{ gd.unit_measure.name }}</td>
                                                <td>{{ gd.quantity_request|safe }}</td>
                                                <td>{{ gd.quantity_sent|safe }}</td>
                                                <td>{{ gd.quantity|safe }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td class="align-middle
                                border-top-0
                                border-left-0
                                border-bottom
                                border-right
                                align-middle
                                text-success
                                font-weight-bolder
                                text-center p-0">{{ g.get_origin }}
                                </td>
                                <td class="align-middle
                                border-top-0
                                border-left-0
                                border-bottom
                                border-right
                                align-middle
                                text-danger
                                font-weight-bolder
                                text-center">{{ g.get_destiny|default_if_none:"-" }}
                                </td>
                                <td class="align-middle
                                border-top-0
                                border-left-0
                                border-bottom
                                border-right
                                align-middle
                                text-secondary
                                text-right">{{ g.minimal_cost|safe }}
                                </td>
                                <td class="align-middle
                                border-top-0
                                border-left-0
                                border-bottom
                                border-right
                                align-middle
                                text-secondary
                                text-right">{{ g.the_one_that_requests.user.worker_set.last.employee.names|upper }}
                                </td>
{#                                <td class="align-middle#}
{#                                border-top-0#}
{#                                border-left-0#}
{#                                border-bottom#}
{#                                border-right#}
{#                                align-middle#}
{#                                text-primary#}
{#                                text-right">{{ g.the_one_that_approves.user.worker_set.last.employee.names }}#}
{#                                </td>#}
{#                                <td class="align-middle#}
{#                                border-top-0#}
{#                                border-left-0#}
{#                                border-bottom#}
{#                                border-right#}
{#                                align-middle#}
{#                                text-danger#}
{#                                text-right">{{ g.the_one_that_cancel.user.worker_set.last.employee.names }}#}
{#                                </td>#}


                                <td class="align-middle
                                border-top-0
                                border-left-0
                                border-bottom
                                border-right
                                text-center"> <!-- "1": Generada, "2": Aprobada, "3": Entregada, "4": Anulada -->

                                    {% if g.status == "1" %}
                                        <span class="text-secondary text-uppercase font-weight-bolder">
                                        {{ g.get_status_display }}</span><br>
                                        {{ g.the_one_that_requests.created_at|date:"Y-m-d h:i:s A" }}

                                    {% elif g.status == "2" %}
                                        <span class="text-primary text-uppercase font-weight-bolder">
                                        {{ g.get_status_display }}</span><br>
                                        {{ g.the_one_that_approves.created_at|date:"Y-m-d h:i:s A" }}

                                    {% elif g.status == "3" %}
                                        <span class="text-warning text-uppercase font-weight-bolder">
                                        {{ g.get_status_display }}</span><br>
                                        {{ g.the_one_that_approves.created_at|date:"Y-m-d h:i:s A" }}

                                    {% elif g.status == "4" %}
                                        <span class="text-danger text-uppercase font-weight-bolder">
                                        {{ g.get_status_display }}</span><br>
                                        {{ g.the_one_that_cancel.created_at|date:"Y-m-d h:i:s A" }}

                                    {% elif g.status == "5" %}
                                        <span class="text-success text-uppercase font-weight-bolder">
                                        {{ g.get_status_display }}</span><br>
                                        {{ g.the_one_that_approves.created_at|date:"Y-m-d h:i:s A" }}

                                    {% endif %}

                                </td>
                                <td class="align-middle border-top-0 border-left-0 border-bottom border-right btn1 text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            <!-- Generada -->
                                            {% if g.status == '1' %}
                                                {% for item in status %}
                                                    {% if item.0 != '1' and item.0 != '2' and item.0 != '3' and item.0 != '5' %}
                                                        <a class="dropdown-item valid-guide status" pk="{{ g.id }}"
                                                           val="{{ item.0 }}"><i class="fas fa-sync-alt"></i>
                                                            {{ item.1 }} </a>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                            <a href="{% url 'comercial:get_output_note' g.id %}" target="print"
                                               class="dropdown-item"><span class="fa fa-print"></span> print</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="register-quantity-received" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>


{% endblock body %}


{% block extrajs %}

    <script type="text/javascript">

        $('#manufacture-data-grid').dataTable();

        $(document).on('click', '.status', function () {
            let _status_id = 0;
            let _guide_id = 0;
            _guide_id = $(this).attr('pk');
            _status_id = $(this).attr('val');

            $.ajax({
                url: '/comercial/output_change_status/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'pk': _guide_id, 'status': _status_id},
                success: function (response) {
                    console.log(response);
                    setTimeout(() => {
                        location.reload();
                    }, 100)
                },
                error: function (jqXhr, textStatus, xhr) {
                    console.log(jqXhr);
                    toastr.error(jqXhr.responseJSON.error, '¡ERROR DE ESTADO!');
                }
            });

        });



    </script>


{% endblock extrajs %}
