{% extends 'home.html' %}
{% block title %}
    coronasoft.dev | Datos del Remolque
{% endblock title %}

{% block body %}

    <form action="{% url 'comercial:towing_update' object.id %}" method="POST" class="was-validated">
        {% csrf_token %}
        <div class="row mr-3 ml-0 mt-2">
            <div class="col-md-12 mb-3">

                <div class="card">
                    <div class="card-body">

                        {% include "comercial/towing_form.html" with object=object form=form name="ACTUALIZAR REMOLQUE" color="success" %}

                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">


    </script>
{% endblock extrajs %}
