{% extends 'home.html' %}
{% block title %}
    coronasoft.dev | Datos del Tracto
{% endblock title %}

{% block body %}

    <form action="{% url 'comercial:truck_update' object.id %}" method="POST" class="was-validated">
        {% csrf_token %}

        <div class="row mr-3 ml-0 mt-2">
            <div class="col-md-12 mb-3">

                <div class="card">
                    <div class="card-body">

                        {% include "comercial/truck_form.html" with object=object form=form name="ACTUALIZAR TRACTO" color="success" %}

                    </div>
                </div>

            </div>
        </div>

    </form>
{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">


    </script>
{% endblock extrajs %}
