{% load static %}
<nav class="navbar navbar-expand-lg navbar-light roboto-condensed-regular" style="background: #035ca0">
    <a href="{% url 'dashboard' %}">
        <img src="{% static 'assets/logo png blanco y negro 1.png' %}" class="mr-3" alt="SALVADOR" width="60"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'dashboard' %}"> Inicio </a></li>
            {% if perms.hrm.view_employee %}
                <li class="nav-item dropdown text-capitalize">
                    <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"> Talento Humano </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-capitalize" href="{% url 'hrm:employee_list' %}"><i
                                class="fas fa-users"></i> Empleados </a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-white" href="#"
                                             data-toggle="dropdown">
                Logistica </a>
                <ul class="dropdown-menu">
                    {% if perms.sales.view_product %}
                        <li><a class="dropdown-item" href="{% url 'sales:product_list' %}"><i
                                class="fas fa-clipboard-list"></i>
                            Productos </a>
                        </li>
                    {% endif %}
                    {% if perms.sales.view_subsidiarystore %}
                        <li><a class="dropdown-item" href="{% url 'sales:get_products_by_subsidiary' %}"><i
                                class="fas fa-store"></i> Almacenes </a>
                        </li>


                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-file-alt"></i> Control de
                            traspaso de productos </a>
                            <ul class="submenu dropdown-menu show">
                                <li><a class="dropdown-item" href="{% url 'comercial:input_workflow' %}"><i
                                        class="fas fa-sticky-note"></i> Notas de
                                    entrada</a></li>
                                <li><a class="dropdown-item" href="{% url 'comercial:output_workflow' %}"><i
                                        class="far fa-sticky-note"></i> Notas de
                                    salida</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-tasks"></i> Generación de
                            guías y notas de almacén </a>
                            <ul class="submenu dropdown-menu show">
                                <li><a class="dropdown-item" href="{% url 'comercial:input_guide' %}"><i
                                        class="fas fa-file"></i> Registrar de
                                    nota de
                                    entrada</a></li>
                                <li><a class="dropdown-item" href="{% url 'comercial:output_guide' %}"><i
                                        class="far fa-file"></i> Registrar de
                                    nota de
                                    salida</a></li>
                            </ul>
                        </li>

                        <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-copy"></i> Confirmación
                            de guías por traslado </a>
                            <ul class="submenu dropdown-menu show">

                                <li><a class="dropdown-item"
                                       href="{% url 'comercial:input_workflow_from_output' %}"><i
                                        class="fas fa-clipboard-check"></i> Notas
                                    de salida para ingresar a almacén</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.sales.view_inventory %}
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url 'sales:inventory_store' %}"><i
                                class="fas fa-boxes"></i> Cuadre de inventario </a>
                        </li>
                    {% endif %}
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"> Compras & Ventas </a>
                <ul class="dropdown-menu">
                    {% if perms.buys.view_purchase %}
                        <li><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"
                               aria-expanded="true"><i class="fas fa-money-check"></i> Compras</a>
                            <ul class="submenu dropdown-menu show">
                                <li><a class="dropdown-item" href="{% url 'buys:buy_list' %}"><i
                                        class="fas fa-money-check"></i> Orden de Compra</a></li>
                                <li><a class="dropdown-item" href="{% url 'buys:get_purchase_list' %}"><i
                                        class="fas fa-tasks"></i> Lista de compras sin
                                    almacen</a></li>
                                <li><a class="dropdown-item" href="{% url 'buys:get_purchase_store_list' %}"><i
                                        class="fas fa-clipboard-list"></i> Lista de
                                    compras en almacen</a></li>
                                <li><a class="dropdown-item" href="{% url 'buys:get_purchase_annular_list' %}"><i
                                        class="fas fa-stream"></i> Lista de
                                    compras anuladas</a></li>
                                <li><a class="dropdown-item" href="{% url 'sales:get_costs_purchase' %}">Costos de
                                    compras</a></li>
                                <li><a class="dropdown-item" href="{% url 'buys:buy_return' %}"><i
                                        class="fas fa-undo-alt mr-2"></i>Devolución de Compra</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.sales.view_order %}

                            <li><a class="dropdown-item dropdown-toggle" href="#"><i
                                    class="fas fa-hand-holding-usd"></i>
                                Ventas</a>
                                <ul class="submenu dropdown-menu show">
                                    <li><a class="dropdown-item" href="{% url 'sales:sales_list' %}"><i
                                            class="fas fa-hand-holding-usd"></i> Orden de Ventas </a></li>
                                    <li><a class="dropdown-item" href="{% url 'sales:search_sell_by_serial' %}">
                                        <i class="fas fa-search"></i> Buscar Venta por Serie </a></li>
                                    <li><a class="dropdown-item" href="{% url 'sales:get_sales_by_subsidiary_store' %}"><i
                                            class="fas fa-align-left"></i> Reporte Ventas por sede </a></li>
                                {% if perms.admin %}
                                    <li><a class="dropdown-item" href="{% url 'sales:get_sales_all_subsidiaries' %}"><i
                                            class="fas fa-align-left"></i> Reporte Ventas generales </a></li>
                                    <li><a class="dropdown-item" href="{% url 'sales:get_report_summary_sales' %}"><i
                                            class="fas fa-align-left"></i> Reporte Ventas Totales </a></li>
                                    <li><a class="dropdown-item" href="{% url 'sales:report_sales_by_brand' %}"><i
                                            class="fas fa-align-left"></i> Reporte Ventas por Marca </a></li>
                                    <li><a class="dropdown-item" href="{% url 'sales:credit_notes_report' %}"><i
                                            class="fas fa-file-invoice-dollar"></i> Reporte Notas de Crédito </a></li>
                                {% endif %}
                                </ul>
                            </li>


                        <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-dolly"></i> Cotizaciones</a>
                            <ul class="submenu dropdown-menu show">
                                <li><a class="dropdown-item" href="{% url 'sales:quotation_list' %}"><i
                                        class="fas fa-dolly"></i> Cotizaciones </a></li>
                                <li><a class="dropdown-item" href="{% url 'sales:get_sales_quotation_by_subsidiary' %}"><i
                                        class="fas fa-align-left"></i> Reporte de Cotizaciones </a></li>
                            </ul>
                        </li>

                        <li><a class="dropdown-item" href="{% url 'sales:client_list' %}"><i
                                class="fas fa-user-tie"></i> Listado de Clientes </a></li>
                        <li><a class="dropdown-item" href="{% url 'sales:order_list' %}"><i
                                class="fas fa-file-invoice"></i> Estado de cuentas de Clientes </a></li>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                </ul>
            </li>
            {#            {% if perms.comercial.view_truck %}#}
            {#                <li class="nav-item dropdown">#}
            {#                    <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"> Programaciones </a>#}
            {#                    <ul class="dropdown-menu">#}
            {#                        <li><a class="dropdown-item" href="{% url 'comercial:programming_list' %}"><i class="fas fa-random"></i> Programar Viaje </a>#}
            {#                        </li>#}
            {#                        <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-truck"></i> Vehiculos </a>#}
            {#                            <ul class="submenu dropdown-menu show">#}
            {#                                <li><a class="dropdown-item" href="{% url 'comercial:truck_list' %}"><i class="fas fa-list-ul"></i> Listado de#}
            {#                                    Vehiculos </a></li>#}
            {#                                <li><a class="dropdown-item" href="{% url 'comercial:truck_create' %}"><i class="fas fa-list-ul"></i> Registro de#}
            {#                                    Vehiculos </a></li>#}
            {#                            </ul>#}
            {#                        </li>#}
            {##}
            {#                    </ul>#}
            {#                </li>#}
            {#            {% endif %}#}

            {% if perms.accounting.view_cash %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"> Finanzas </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'accounting:get_account_list' %}"><i
                                class="fas fa-file-invoice-dollar"></i> Cuadro de cuentas</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounting:get_cash_control_list' %}"><i
                                class="fas fa-cash-register"></i> Control de caja</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounting:get_bank_control_list' %}"><i
                                class="fas fa-wallet"></i> Control de cuentas bancarias</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url 'accounting:get_cash_report' %}"><i
                                class="fas fa-list-alt"></i> Reporte de Cajas</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounting:get_purchases_list' %}"><i
                                class="fas fa-th-list"></i> Reporte de Compras</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
        <nav class="full-box navbar-info text-white border-0" style="background: #035ca0">
            <h4></h4>
            <label class="text-white">Usuario: </label>
            <form class="form-inline d-none d-sm-inline-block mr-3">
                {{ user.worker_set.last.employee.names|upper }}
            </form>
            <label class="text-white ml-3">Sucursal: </label>
            <form class="form-inline d-none d-sm-inline-block">
                {{ user.worker_set.last.establishment_set.last.subsidiary.name }}
            </form>
            <a href="{% url 'logout' %}"><i class="fas fa-power-off fa-lg"></i></a>
        </nav>
    </div> <!-- navbar-collapse.// -->

</nav>
